<script>
  import { goto } from "@sveltech/routify";
  import { store } from "../../store/auth";
  import po from "../../api/master/pobus";
  import user from "../../api/master/user";
  import { onMount } from "svelte";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};
  let listUser = [];

  onMount(async () => {
    let resp = await user.listUser(token);
    if (resp.data.error > 0) {
      alert(resp.data.message);
    } else {
      listUser = resp.data.data;
    }
  });

  async function addData() {
    console.log(data);
    let resp = await po.createPoBus(token, data);
    console.log(resp.data);
    if (resp.data.error > 0) {
      Swal.fire("Error Create Data", "", "error");
    } else {
      $goto("/pobus");
    }
  }

  function cancel() {
    $goto("/pobus");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Po Bus</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Po Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Po Bus</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Nama Po Bus</label>
                <input
                  bind:value={data.nm_pobus}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Alamat Po Bus</label>
                <input
                  bind:value={data.addr_pobus}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label class="col-form-label">User</label>
                <select bind:value={data.id_user} class="form-control">
                  <option value="">Silahkan Pilih User</option>
                  {#each listUser as item}
                    <option value={item.id}>{item.nm_user}</option>
                  {/each}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
