<script>
  import { isActive, url, redirect } from "@sveltech/routify";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import po from "../../api/master/pobus";
  import { store } from "../../store/auth";
  import Swal from "sweetalert2";

  const jq = window.$;
  let dataTable;
  let table;
  let token = $store.token.data;

  onMount(async () => {
    let resp = await po.listPoBus(token);
    console.log(resp.data);
    table = jq(dataTable).DataTable({
      data: resp.data.data,
      columns: [
        { data: "id", title: "id" },
        { data: "nm_pobus", title: "Nama Po Bus" },
        { data: "addr_pobus", title: "Alamat Po Bus" },
        { data: "id_user", title: "Username" },
        {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
            }
          },
      ],
    });
    window.editData = (id) => {
      $goto("/pobus/update/:id", { id: id });
    };

    window.deleteData = (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await po.deletePoBus(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });

  function addData(event) {
    event.preventDefault();
    $goto("/pobus/create");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Po Bus</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Po Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button class="btn btn-primary" on:click={addData}>Tambah Data <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
