<script>
  import { onMount } from "svelte";
  import { goto } from "@sveltech/routify";
  import { store, userData } from "../../store/auth";
  import bus from "../../api/master/bus";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};

  async function addData() {
    data.id_pobus = $userData.pobus?.[0].id;
    console.log("pobus", data);
    let resp = await bus.createBus(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Create Data", resp.data.stack, "error");
    } else {
      $goto("/bus");
    }
  }

  function cancel() {
    $goto("/bus");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Bus</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Bus</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Kode Bus</label>
                <input
                  bind:value={data.kd_bus}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Nopol Bus</label>
                <input
                  bind:value={data.nopol_bus}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Lokasi
                  Terakhir</label>
                <input
                  bind:value={data.lastloc_bus}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">IMEI</label>
                <input
                  bind:value={data.imei}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label class="col-form-label">Keterangan</label>
                <select bind:value={data.keterangan} class="form-control">
                  <option value="Timur-Barat">Timur-Barat</option>
                  <option value="Barat-Timur">Barat-Timur</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Status</label>
                <select bind:value={data.status} class="form-control">
                  <option value="0">Aktif</option>
                  <option value="1">Cadangan</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
