<script>
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import bus from "../../api/master/bus";
  import { store, userData } from "../../store/auth";
  import Swal from "sweetalert2";
import CreateEditModal from "../../component/CreateEditModal.svelte";

  const jq = window.$;
  let dataTable;
  let rows;
  let table;
  let token = $store.token.data;
  let isLoading = true;
  let isError = false;
  let msgError = "";
  let data = {};
  let isEdit = false;
  let listBus = [];

  console.log('luar func',isEdit);

  function onClose() {
    jq('#exampleModalCenter').modal('hide');
  }

  function openModalCreate() {
    isEdit = false;
    data = {};      
    jq(".custom-select-kota").val(null).trigger('change');
    jq('#exampleModalCenter').modal('show');
    console.log('func openModalCreate',isEdit);
  }

  function openModalEdit() {
    isEdit = true;
    jq('#exampleModalCenter').modal('show');
  }

  async function addData() {
    data.id_pobus = $userData.pobus[0].id;
    data.imei = '';
    let resp = await bus.createBus(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Tambah Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Tambah Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  async function editData() {
    data.id_pobus = $userData.pobus[0].id;
    data.imei = '';
    let resp = await bus.updateBus(token, data.id , data);
    if (resp.data.error > 0) {
      console.log(resp.data.stack);
      Swal.fire("Error Edit Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Edit Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  onMount(async () => {
    let resp = await bus.listBus(token);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      isLoading = false;
      listBus = resp.data.data;
      table = jq(dataTable).DataTable({
        data: resp.data.data,
        responsive: true,
        processing: true,
        columns: [
          { data: null, title: "No." },
          { data: "id_pobus.nm_pobus", title: "Nama Po Bis" },
          {
            data: null,
            title: "Status",
            render: function (data, type, row) {
              if (row.status === 0) {
                return `<select onchange="changeStatus(${row.id},this)">
                    <option selected value="0">Aktif</option>
                    <option value="1">Cadangan</option>
                  </select>`;
              } else {
                return `
                  <select onchange="changeStatus(${row.id},this)">
                    <option value="0">Aktif</option>
                    <option selected value="1">Cadangan</option>
                  </select>
                `;
              }
            },
          },
          { data: "nopol_bus", title: "Nopol bus" },
          { 
            data: "keterangan", 
            title: "Keterangan",
            render: function (data, type, row) {
              if (row.keterangan === "Timur-Barat") {
                return `<select onchange="changeKet(${row.id},this)">
                    <option selected value="Timur-Barat">Timur-Barat</option>
                    <option value="Barat-Timur">Barat-Timur</option>
                  </select>`;
              } else {
                return `
                  <select onchange="changeKet(${row.id},this)">
                    <option value="Timur-Barat">Timur-Barat</option>
                    <option selected value="Barat-Timur">Barat-Timur</option>
                  </select>
                `;
              } 
            }
          },
          {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-dark btn-edit mr-1" onclick="print(${row.id})" type="button">Generate <i class="mdi mdi-qrcode"></i></button>
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
          },
        }],
      });
      table
        .on("order.dt search.dt", function () {
          table
            .column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        })
        .draw();
    }

    window.changeStatus = async (id,status) => {
      Swal.fire({
        title: "Update Status ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await bus.updateBus(token,id,{status: status.value});
          if (resp.data.error > 0) {
            Swal.fire("Error Update Status", "", "error");
          } else {
            Swal.fire("Success Update Status", "", "success");
            window.location.reload();
          }
          console.log(resp); 
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    }

    window.changeKet = async (id,ket) => {
      Swal.fire({
        title: "Update Keterangan ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await bus.updateBus(token,id,{keterangan: ket.value});
          if (resp.data.error > 0) {
            Swal.fire("Error Update Status", "", "error");
          } else {
            Swal.fire("Success Update Status", "", "success");
            window.location.reload();
          }
          console.log(resp); 
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    }

    window.print = (id) => {
      $goto("/barcode/:id", { id: id });
    };

    window.editData = (id) => {
      let indexData = listBus.findIndex(obj => obj.id == id);
      let dataById = listBus[indexData];
      
      data = {...dataById};

      console.log(data);

      openModalEdit();
    };

    window.deleteData = async (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await bus.deleteBus(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });
</script>

<style>
  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Bus</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button class="btn btn-primary" on:click={openModalCreate}>Tambah Data
                <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
          {/if}

          {#if isError}
            <div style="text-align:center;">
              <h4>Error Get Data</h4>
            </div>
          {/if}

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <CreateEditModal
      titleContent="Bus"
      isEdit={isEdit}
      onClose={onClose}>
        <div slot="body" class="form-group">
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Kode Bus</label>
            <input
              bind:value={data.kd_bus}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Nopol Bus</label>
            <input
              bind:value={data.nopol_bus}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Lokasi
              Terakhir</label>
            <input
              bind:value={data.lastloc_bus}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">IMEI</label>
            <input
              bind:value={data.imei}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          {#if isEdit == true}
            <div></div>
          {:else}
            <div class="form-group">
              <label class="col-form-label">Keterangan</label>
              <select bind:value={data.keterangan} class="form-control">
                <option value="" selected="selected" hidden="hidden">Pilih Keterangan</option>
                <option value="Timur-Barat">Timur-Barat</option>
                <option value="Barat-Timur">Barat-Timur</option>
              </select>
            </div>
            <div class="form-group">
              <label class="col-form-label">Status</label>
              <select bind:value={data.status} class="form-control">
                <option value="" selected="selected" hidden="hidden">Pilih Status</option>
                <option value="0">Aktif</option>
                <option value="1">Cadangan</option>
              </select>
            </div>
          {/if}
        </div>
        <div slot="action">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {#if isEdit}
            <button on:click={editData} type="button" class="btn btn-primary">Simpan</button>
          {:else}
            <button on:click={addData} type="button" class="btn btn-primary">Simpan</button>
          {/if}
        </div>
    </CreateEditModal>
  <!-- end row -->
</div>
<!-- end main content-->
