<script>
    import { params, leftover, goto } from "@sveltech/routify";
    import { store } from "../../../store/auth";
    import transaksi from "../../../api/master/transaksi";
    import { onMount } from "svelte";
    import moment from 'moment';
import { Spinner } from "sveltestrap";
  
    let token = $store.token.data;
    let dataTransaksi;
    let selectedData;
    
    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0,00";
    }
  
    onMount(async () => {
      let resp = await transaksi.getReportBri(token,{startDate: moment().format('YYYYMMDD'),endDate:moment().format('YYYYMMDD')});
      dataTransaksi = resp.data.data.data;
      selectedData = dataTransaksi.find((item) => item.custCode === $params.custcode);
      console.log({param: $params.custcode, data: selectedData});
    });
  </script>

  <style>
    input[disabled] {
        cursor: not-allowed;
        color: #808080;
        font-weight: bold;
        background-color: #e7e7e7;
    }
    textarea[disabled] {
        cursor: not-allowed;
        color: #808080;
        font-weight: bold;
        background-color: #e7e7e7;
    }
  </style>
  
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-flex align-items-center
              justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Detail Transaksi BRI</h4>
  
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item active">Manage Transaksi</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
  
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detail Data Transaksi BRI</h4>
            <div class="row">
              {#if selectedData}
                <div class="col-md-9">
                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label">Nama Customer</label>
                    <input
                      disabled
                      class="form-control"
                      type="text"
                      bind:value={selectedData.nama}
                      id="example-text-input" />
                  </div>
                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label">No. Rekening</label>
                    <input
                      disabled
                      class="form-control"
                      type="text"
                      bind:value={selectedData.no_rek}
                      id="example-text-input" />
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Jumlah Pembayaran</label>
                    <input
                      disabled
                      type="text"
                      class="form-control"
                      value={formatRupiah(selectedData.amount)}/>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Tanggal Pembayaran</label>
                    <input
                      disabled
                      type="text"
                      class="form-control"
                      value={moment(selectedData?.paymentDate).format('dddd ,DD-MMMM-YYYY HH:mm')}/>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Tanggal Pembayaran</label>
                    <textarea
                      disabled
                      class="form-control">
                        {selectedData?.keterangan}
                    </textarea>
                  </div>
                </div>
              {:else}
                <div class="col">
                    <div style="display: flex;align-items:center; justify-content:center">
                        <Spinner
                            style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                            color="primary" />
                        <h2 style="margin-top: 10px;margin-left:20px">Loading...</h2>
                    </div>
                </div>
              {/if}
            </div>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end main content-->
  