<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store } from "../../../store/auth";
  import kota from "../../../api/master/kota";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let datakota;
  let selectedData;

  onMount(async () => {
    let resp = await kota.listKota(token);
    datakota = resp.data.data;
    selectedData = datakota.filter((item) => item.id == $params.id)[0];
  });

  async function updateData() {
    let resp = await kota.updateKota(token, $params.id, selectedData);
    if (resp.data.error > 0) {
      console.log("error", resp.data.message);
    } else {
      $goto("/kota");
    }
  }

  function cancel() {
    $goto("/kota");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Kota</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Kota</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Kota</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Nama
                    Kota</label>
                  <input
                    bind:value={selectedData.nm_kota}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
