<script>
  import { goto } from "@sveltech/routify";
  import { store } from "../../store/auth";
  import kota from "../../api/master/kota";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};

  async function addData() {
    let resp = await kota.createKota(token, data);
    console.log(resp);
    if (resp.data.error > 0) {
      alert(resp.data.message);
    } else {
      $goto("/kota");
    }
  }

  function cancel() {
    $goto("/kota");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Kota</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Kota</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Kota</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Nama Kota</label>
                <input
                  bind:value={data.nm_kota}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
