<script>
  import auth from "../../api/auth";
  import { store } from "../../store/auth";
  import { goto, url } from "@sveltech/routify";
  import { NotificationDisplay, notifier } from "@beyonk/svelte-notifications";

  let username = "";
  let password = "";
  let email = "";
  let message = null;

  async function handleSubmit() {
    let data = { email, password };
    let req = await auth
      .loginReq(data)
      .then((r) => r)
      .catch((e) => e);
    if (req.data.error == 0) {
      $store = { token: req.data };
      $goto("/dashboard");
      console.log($store, "token ada");
    } else {
      message = req.data.message;
      console.log($store, "token tidak ada");
    }
  }

  function closeAlert() {
    message = null;
  }
</script>

<body>
  <!-- <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          {#if message != null}
            <div
              class="alert alert-danger alert-dismissible fade show"
              role="alert">
              {message}
              <button
                on:click={closeAlert}
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {/if}
          <div class="card overflow-hidden">
            <div class="bg-login text-center">
              <div class="bg-login-overlay" />
              <div class="position-relative">
                <h5 class="text-white font-size-20">Welcome Back !</h5>
                <p class="text-white-50 mb-0">Sign in to continue to Qovex.</p>
                <a href="#" class="logo logo-admin mt-4">
                  <img
                    src="assets/images/logo-sm-dark.png"
                    alt=""
                    height="30" />
                </a>
              </div>
            </div>
            <div class="card-body pt-5">
              <div class="p-2">
                <form
                  class="form-horizontal"
                  on:submit|preventDefault={handleSubmit}>
                  <div class="form-group">
                    <label for="username">Email</label>
                    <input
                      bind:value={email}
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Enter username" />
                  </div>

                  <div class="form-group">
                    <label for="userpassword">Password</label>
                    <input
                      bind:value={password}
                      type="password"
                      class="form-control"
                      id="userpassword"
                      placeholder="Enter password" />
                  </div>

                  <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customControlInline" />
                    <label
                      class="custom-control-label"
                      for="customControlInline">Remember me</label>
                  </div>

                  <div class="mt-3">
                    <button
                      class="btn btn-primary btn-block waves-effect waves-light"
                      type="submit">Log In</button>
                  </div>

                  <div class="mt-4 text-center">
                    <a href="pages-recoverpw.html" class="text-muted"><i
                        class="mdi mdi-lock mr-1" /> Forgot your password?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>
              Don't have an account ? <a href="pages-register.html" class="font-weight-medium
                  text-primary"> Signup now </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-login text-center">
              <div class="bg-login-overlay" />
              <div class="position-relative">
                <h5 class="text-white font-size-20">Free Register</h5>
                <p class="text-white-50 mb-0">
                  Get your free Qovex account now
                </p>
                <a href="index.html" class="logo logo-admin mt-4">
                  <img
                    src="assets/images/logo-sm-dark.png"
                    alt=""
                    height="30" />
                </a>
              </div>
            </div>
            <div class="card-body pt-5">
              <div class="p-2">
                <form class="form-horizontal" action="index.html">
                  <div class="form-group">
                    <label for="username">Nama</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Masukkan Nama" />
                  </div>
                  <div class="form-group">
                    <label for="useremail">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="useremail"
                      placeholder="Masukkan email" />
                  </div>

                  <div class="form-group">
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Masukkan username" />
                  </div>

                  <div class="form-group">
                    <label for="userpassword">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="userpassword"
                      placeholder="Masukkan password" />
                  </div>

                  <div class="form-group">
                    <label for="username">Alamat</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Masukkan Alamat" />
                  </div>

                  <div class="form-group">
                    <label for="username">No Telp</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Masukkan No Telp" />
                  </div>

                  <div class="mt-4">
                    <button
                      class="btn btn-primary btn-block waves-effect waves-light"
                      type="submit">Register</button>
                  </div>

                  <div class="mt-4 text-center">
                    <p class="mb-0">
                      By registering you agree to the Skote <a href="#" class="text-primary">Terms
                        of Use</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center">
            <p>
              Already have an account ? <a href={$url('/login')} class="font-weight-medium
                  text-primary"> Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
