<script>
    import { Spinner } from "sveltestrap";
    import PersonModal from "../../component/PersonModal.svelte";
    import { onMount } from "svelte";
    import transaksi from "../../api/master/transaksi";
    import kota from "../../api/master/kota";
    import { store, userData } from "../../store/auth";
    import Swal from "sweetalert2";
    import moment from "moment";

    const jq = window.$;
    let dataTiket;
    let listKota = [];
    let data = {};
    let token = $store.token.data;
    let pulangPergi = false;
    let pesan = [];
    let seat = [];
    let dataTransaksi = {};
    let kursi;
    let isOpenModal = false;
    let today = moment().format("YYYY-MM-DD");
    let isLoading = false;
    let isError = false;
    let msgError = "Error Goes Wrong! Cannot Get Data";

    function openModal() {
        isOpenModal = !isOpenModal;
    }

    onMount(async () => {
        let resp = await kota.listKota(token);
        if (resp.data.error > 0) {
            console.log(resp.data.message);
        } else {
            listKota = resp.data.data;
        }

        window.$(".custom-select-asal").select2();
        window.$(".custom-select-tujuan").select2();
    });

    async function cariTiket() {
        isLoading = true;
        var asal = window.$(".custom-select-asal").select2("data");
        var tujuan = window.$(".custom-select-tujuan").select2("data");
        data = {
            ...data,
            asal: asal[0].id,
            tujuan: tujuan[0].id,
            tgl: moment(today).format("YYYY-MM-DD"),
        };
        let resTiket = await transaksi.listTiket(token, data);
        console.log({ tiket: resTiket.data });
        if (resTiket.data.error) {
            console.log(resTiket);
        } else {
            isLoading = false;
            dataTiket = resTiket.data.data[0];
        }
    }

    function selectedSeat(objParent, objKursi, idx) {
        if (seat[idx] === undefined) {
            seat[idx] = false;
        }
        dataTransaksi.kursi = objKursi.kd_kursi;
        dataTransaksi.id_kursi = objKursi.id;
        seat[idx] = !seat[idx];
        checkout(objParent);
    }

    function beginOrder(idx) {
        if (pesan[idx] === undefined) {
            pesan[idx] = false;
        }
        pesan[idx] = !pesan[idx];
        console.log(pesan);
    }

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp." + NumberFormat;
        }
        return "Rp.0,00";
    }

    async function checkout(selectedItem) {
        console.log("selected item", selectedItem);
        dataTransaksi = {
            ...dataTransaksi,
            id_pobus: $userData.agen[0].id_pobus,
            id_agen: $userData.agen[0].id,
            id_jamtrayek: selectedItem.id,
            id_bus: selectedItem.id_bus,
            qty: 1,
            tanggal: today,
            total_hrg: dataTiket.harga,
            status: 0,
        };
        console.log("data transaksi", dataTransaksi);
        openModal();
    }
</script>

<style>
    @media (max-width: 575.98px) {
        .box-kursi {
            height: 40px;
            width: 48px;
            margin-bottom: 5px;
        }
        .container-kursi {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
    }
    @media (min-width: 600px) {
        .box-kursi {
            height: 50px;
            width: 50px;
            margin-bottom: 5px;
        }
        .container-kursi {
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: 1440px) and (min-width: 1187px) {
        .col-kursi {
            width: 13% !important;
            flex: 0 0 15% !important;
        }
    }

    @media screen and (max-width: 1024px) and (min-width: 873px) {
        .col-kursi {
            width: 13% !important;
            flex: 0 0 15% !important;
        }
    }

    @media screen and (max-width: 425px) and (min-width: 320px) {
        .col-kursi {
            width: 100% !important;
            flex: 0 0 50% !important;
        }
        .txt-kursi {
            text-align: center !important;
            margin: 0 !important;
            font-size: 10px !important;
        }
    }

    @media screen and (max-width: 425px) and (min-width: 392px) {
        .col-kursi {
            width: 30% !important;
            flex: 0 0 35% !important;
        }
        .txt-kursi {
            text-align: center !important;
            margin: 0 !important;
            font-size: 10px !important;
        }
    }

    .txt-kursi {
        text-align: center;
        margin: 0;
        font-size: 12px;
    }

    .col-kursi {
        width: 13%;
        flex: 0 0 13%;
    }

    .btn[disabled] {
        cursor: not-allowed;
    }

    .btn-orange {
        background-color: #fb8c00;
        color: #fff;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box d-flex align-items-center
              justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Transaksi</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">
                                Manage Transaksi
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form
                        action="#xxx"
                        on:submit|preventDefault={() => cariTiket()}>
                        <div class="form-row">
                            <div class="col-sm-3">
                                <label>Kota Asal</label>
                                <select
                                    bind:value={data.asal}
                                    name="Kota Asal"
                                    class="form-control custom-select-asal">
                                    <option value="#">
                                        Silahkan Pilih Kota
                                    </option>
                                    {#each listKota as item}
                                        <option value={item.nm_kota}>
                                            {item.nm_kota}
                                        </option>
                                    {/each}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Kota Tujuan</label>
                                <select
                                    bind:value={data.tujuan}
                                    name="Kota Tujuan"
                                    class="form-control custom-select-tujuan">
                                    <option value="#">
                                        Silahkan Pilih Kota
                                    </option>
                                    {#each listKota as item}
                                        <option value={item.nm_kota}>
                                            {item.nm_kota}
                                        </option>
                                    {/each}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label>Tanggal Berangkat</label>
                                <input
                                    bind:value={today}
                                    type="date"
                                    name="tanggal"
                                    min="1000-01-01"
                                    max="3000-12-31"
                                    class="form-control" />
                            </div>
                            <!-- {#if pulangPergi}
                                <div class="col-sm-3">
                                    <label>Tanggal Kembali</label>
                                    <input
                                        type="date"
                                        name="tanggal"
                                        min="1000-01-01"
                                        max="3000-12-31"
                                        class="form-control" />
                                </div>
                            {/if} -->
                            <div class="col-sm-2">
                                <label>&nbsp;</label>
                                <button
                                    type="submit"
                                    class="btn btn-warning form-control">Cari</button>
                            </div>
                        </div>

                        <!-- <div class="form-row">
                            <div class="col-3 p-3">
                                <div class="form-check">
                                    <input
                                        bind:checked={pulangPergi}
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        id="defaultCheck1" />
                                    <label
                                        class="form-check-label"
                                        for="defaultCheck1">Pulang Pergi ?</label>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </form>
                </div>
            </div>
            <div class="card">
                {#if isLoading}
                    <div style="text-align:center;">
                        <Spinner
                            style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                            color="primary" />
                        <h2 style="margin-top: 10px">Loading...</h2>
                    </div>
                {:else if dataTiket}
                    <div
                        style="border-bottom: 1px solid #dadada"
                        class="card-body">
                        <h5>Tujuan : {data?.asal} - {data?.tujuan}</h5>
                    </div>
                    {#each dataTiket?.jam_trayek || [] as data, i}
                        <div
                            class="card-body"
                            style="border-bottom: 1px solid #dadada">
                            <div class="bus-item">
                                <div class="row">
                                    <div class="col-md-2">
                                        <p
                                            style="font-weight: bold; font-size: 16px;">
                                            Nopol Bus
                                        </p>
                                        <p>{data?.bus[0].nopol_bus}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size: 16px;">
                                            Berangkat
                                        </p>
                                        <p
                                            style="font-weight: bold;font-size: 18px;">
                                            {data.jam_berangkat}
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <p style="font-size: 16px;">Sampai</p>
                                        <p
                                            style="font-weight: bold;font-size: 18px;">
                                            {data.jam_sampai}
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p
                                            style="font-weight: bold; font-size: 18px;">
                                            {formatRupiah(dataTiket.harga)}
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <button
                                            on:click={() => beginOrder(i)}
                                            class="btn btn-success">Pesan Tiket</button>
                                    </div>
                                </div>
                                {#if pesan[i]}
                                    {#if data.bus[0].kursi}
                                        <div class="row">
                                            <div class="container-kursi">
                                                <div class="col-kursi">
                                                    {#each data?.bus[0]?.kursi as item, a}
                                                        {#if a <= 17}
                                                            {#if item.available == 0}
                                                                <button
                                                                    on:click={() => selectedSeat(data, item, a)}
                                                                    class="btn btn-success box-kursi">
                                                                    <p
                                                                        class="txt-kursi">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            {:else if item.available == 1}
                                                                {#if dataTiket.id_kota_tujuan.nm_kota.toLowerCase() == $userData.alamat.toLowerCase()}
                                                                    <button
                                                                        on:click={() => selectedSeat(data, item, a)}
                                                                        class="btn btn-orange box-kursi">
                                                                        <p
                                                                            class="txt-kursi">
                                                                            {item.kd_kursi}
                                                                        </p>
                                                                    </button>
                                                                {:else}
                                                                    <button
                                                                        disabled
                                                                        on:click={() => selectedSeat(data, item, a)}
                                                                        class="btn btn-danger box-kursi">
                                                                        <p
                                                                            class="txt-kursi">
                                                                            {item.kd_kursi}
                                                                        </p>
                                                                    </button>
                                                                {/if}
                                                            {:else}
                                                                <button
                                                                    disabled
                                                                    on:click={() => selectedSeat(data, item, a)}
                                                                    class="btn btn-dark box-kursi">
                                                                    <p
                                                                        class="txt-kursi">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            {/if}
                                                        {/if}
                                                    {/each}
                                                </div>
                                                <div class="col-kursi">
                                                    {#each data?.bus[0]?.kursi as item, a}
                                                        {#if a >= 18}
                                                            {#if item.available == 0}
                                                                <button
                                                                    on:click={() => selectedSeat(data, item, a)}
                                                                    class="btn btn-success box-kursi">
                                                                    <p
                                                                        class="txt-kursi">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            {:else if item.available == 1}
                                                                {#if dataTiket.id_kota_tujuan.nm_kota.toLowerCase() == $userData.alamat.toLowerCase()}
                                                                    <button
                                                                        on:click={() => selectedSeat(data, item, a)}
                                                                        class="btn btn-orange box-kursi">
                                                                        <p
                                                                            class="txt-kursi">
                                                                            {item.kd_kursi}
                                                                        </p>
                                                                    </button>
                                                                {:else}
                                                                    <button
                                                                        disabled
                                                                        on:click={() => selectedSeat(data, item, a)}
                                                                        class="btn btn-danger box-kursi">
                                                                        <p
                                                                            class="txt-kursi">
                                                                            {item.kd_kursi}
                                                                        </p>
                                                                    </button>
                                                                {/if}
                                                            {:else}
                                                                <button
                                                                    disabled
                                                                    on:click={() => selectedSeat(data, item, a)}
                                                                    class="btn btn-dark box-kursi">
                                                                    <p
                                                                        class="txt-kursi">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            {/if}
                                                        {/if}
                                                    {/each}
                                                </div>
                                            </div>
                                            <!-- <div class="container-kursi">
                                                {#each data.kursi as item, a}
                                                    {#if (a + 1) % 2 == 0}
                                                        {#if item.available == 0}
                                                            <div
                                                                style="margin: 2px;margin-right: 20px">
                                                                <button
                                                                    on:click={() => selectedSeat(data, item, a)}
                                                                    class="btn btn-info box-kursi">
                                                                    <p
                                                                        style="text-align:center;margin:0;font-size:12px">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            </div>
                                                        {:else}
                                                            <div
                                                                style="margin: 2px;margin-right: 20px">
                                                                <button
                                                                    disabled
                                                                    class="btn btn-info box-kursi">
                                                                    <p
                                                                        style="text-align:center;margin:0;font-size:12px">
                                                                        {item.kd_kursi}
                                                                    </p>
                                                                </button>
                                                            </div>
                                                        {/if}
                                                    {:else if item.available == 0}
                                                        <div
                                                            style="margin: 2px">
                                                            <button
                                                                on:click={() => selectedSeat(data, item, a)}
                                                                class="btn btn-info box-kursi">
                                                                <p
                                                                    style="text-align:center;margin:0;font-size:12px">
                                                                    {item.kd_kursi}
                                                                </p>
                                                            </button>
                                                        </div>
                                                    {:else}
                                                        <div
                                                            style="margin: 2px">
                                                            <button
                                                                disabled
                                                                class="btn btn-info box-kursi">
                                                                <p
                                                                    style="text-align:center;margin:0;font-size:12px">
                                                                    {item.kd_kursi}
                                                                </p>
                                                            </button>
                                                        </div>
                                                    {/if}
                                                {/each}
                                            </div> -->
                                        </div>
                                    {/if}
                                {/if}
                            </div>
                        </div>
                        <PersonModal
                            data={dataTransaksi}
                            open={isOpenModal}
                            toggle={() => openModal()} />
                    {:else}
                        <div style="margin:auto;padding: 10px 10px;">
                            <h3>Tiket Tidak Ditemukan</h3>
                        </div>
                    {/each}
                {:else}{/if}
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
