<script>
    import { onMount } from "svelte";
    import transaksi from "../../api/master/transaksi";
    import { store } from "../../store/auth";
    import { params } from "@sveltech/routify";
    import Swal from "sweetalert2";
    import moment from "moment";
    import qr from "qrious/dist/qrious";

    let dataTransaksi;
    let selectedData;
    let base64;

    onMount(async () => {
        let token = $store.token.data;
        let resp = await transaksi.transAgen(token);
        dataTransaksi = resp.data.data;
        selectedData = dataTransaksi.filter(
            (item) => item.kd_transaksi == $params.transaksi
        )[0];
        var a = new qr({
            element: window.document.getElementById("qr"),
            value: `${selectedData.kd_transaksi}`,
            size: 378,
        });
        base64 = a.toDataURL("image/jpeg");
        console.log(selectedData);
    });

    const jq = window.$;

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp." + NumberFormat;
        }
        return "Rp.0,00";
    }

    function printPdf() {
        console.log("print");
        console.log(selectedData);
        window.print();
    }
</script>

<style>
    @media screen {
        p.bodyText {
            font-family: verdana, arial, sans-serif;
        }
    }

    @media print {
        #get-pdf {
            visibility: hidden;
        }
        p.bodyText {
            font-family: georgia, times, serif;
        }
    }
    @media screen, print {
        p.bodyText {
            font-size: 10pt;
        }
    }

    p,
    span {
        color: #495057;
    }

    .fs-harga {
        color: #ffa62b;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box d-flex align-items-center
              justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Invoice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">
                                Invoice Tiket
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {#if selectedData?.status == 0}
                        <button
                            style="margin-bottom: 10px;"
                            disabled
                            id="get-pdf"
                            on:click={() => printPdf()}
                            class="btn btn-danger">
                            <i class="mdi mdi-download" />
                            Download Pdf</button>
                    {:else}
                        <button
                            style="margin-bottom: 10px;"
                            id="get-pdf"
                            on:click={() => printPdf()}
                            class="btn btn-danger">
                            <i class="mdi mdi-download" />
                            Download Pdf</button>
                    {/if}
                    {#if selectedData}
                        <div class="invoice">
                            <div class="row">
                                <div class="col-md-4">
                                    <img
                                        class="img-fluid"
                                        style="width:225px"
                                        src="/assets/images/logo/eka-invoice.png"
                                        alt="Eka" />
                                    <p style="font-size: 18px;margin-top: 20px">
                                        No. Kursi :
                                    </p>
                                    <span
                                        style="font-size: 20px;font-weight: 700;">
                                        {selectedData.id_kursi.kd_kursi}
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <p>Jadwal</p>
                                    <p>
                                        {moment(selectedData.tanggal).format('dddd, MMM yyyy')}
                                    </p>
                                    <p>
                                        {selectedData.id_jamtrayek.jam_berangkat}
                                    </p>
                                    <p>
                                        {selectedData.id_jamtrayek.jam_sampai}
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <div style="text-align:center;">
                                        <img
                                            id="qr"
                                            class="img-fluid"
                                            src={base64}
                                            style="width: 275px"
                                            alt="tiket" />
                                    </div>
                                    <h5 style="text-align:center">
                                        {selectedData.kd_transaksi}
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <table
                                    style="margin-top: 15px"
                                    class="table table-bordered">
                                    <thead>
                                        <th>No.</th>
                                        <th>Penumpang</th>
                                        <th>Rute</th>
                                        <th>No Ticket</th>
                                        <th>Harga</th>
                                    </thead>
                                    <tbody>
                                        <td>1</td>
                                        <td>{selectedData.nama}</td>
                                        <td>
                                            <span>{selectedData.id_jamtrayek.id_trayek.k_asal}</span>
                                            <span> - </span>
                                            <span>{selectedData.id_jamtrayek.id_trayek.k_tujuan}</span>
                                        </td>
                                        <td>{selectedData.kd_transaksi}</td>
                                        <td>
                                            {formatRupiah(selectedData.total_hrg)}
                                        </td>
                                    </tbody>
                                </table>
                                <!-- <p>Tanggal :</p>
                                <br />
                                <br />
                                <h5 style="margin-bottom: 20px">
                                    Detail Tiket
                                </h5>
                                <p>Nama Penumpang: {selectedData.nama}</p>
                                <p />
                                <p>No Telp: {selectedData.no_telp}</p>
                                <p style="font-size: 18px">
                                    Total :
                                    <span
                                        class="fs-harga font-weight-bold">{formatRupiah(selectedData.total_hrg)}</span>
                                </p>
                                -->
                            </div>
                        </div>
                    {:else}
                        <h2>Loading...</h2>
                    {/if}
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
