<script>
  import { goto } from "@sveltech/routify";
  import { store, userData } from "../../store/auth";
  import trayek from "../../api/master/trayek";
  import kota from "../../api/master/kota";
  import { onMount } from "svelte";

  let token = $store.token.data;

  let data = {};
  let listKota = [];

  onMount(async () => {
    let resp = await kota.listKota(token);
    if (resp.error > 0) {
      alert(resp.message);
    } else {
      listKota = resp.data.data;
    }
  });

  async function addData() {
    data.id_pobus = $userData.pobus[0].id;
    let resp = await trayek.createTrayek(token, data);
    if (resp.error > 0) {
      alert(resp.message);
    } else {
      $goto("/tarif");
    }
  }

  function cancel() {
    $goto("/tarif");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Tarif</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Tarif</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Tarif</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label class="col-form-label">Kota Asal</label>
                <select bind:value={data.id_kota_asal} class="form-control">
                  <option value="">Silahkan Pilih Kota</option>
                  {#each listKota as item}
                    <option value={item.id}>{item.nm_kota}</option>
                  {/each}
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Kota Tujuan</label>
                <select bind:value={data.id_kota_tujuan} class="form-control">
                  <option value="">Silahkan Pilih Kota</option>
                  {#each listKota as item}
                    <option value={item.id}>{item.nm_kota}</option>
                  {/each}
                </select>
              </div>
              <div class="form-group">
                <label
                  for="example-text-input"
                  class="col-form-label">Harga</label>
                <input
                  bind:value={data.harga}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label class="col-form-label">Keterangan</label>
                <select bind:value={data.keterangan} class="form-control">
                  <option value="Berangkat">Berangkat</option>
                  <option value="Pulang">Pulang</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
