<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store } from "../../../store/auth";
  import jt from "../../../api/master/jamTrayek";
  import bus from "../../../api/master/bus";
  import trayek from "../../../api/master/trayek";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let listBus = [];
  let listTrayek = [];
  let selectedData;

  onMount(async () => {
    let resp = await jt.getByIdJamTrayek(token,$params.id);

    //Req trayek
    let respTrayek = await trayek.listTrayek(token);
    console.log({ trayek: respTrayek });
    let respBus = await bus.listBus(token);
    console.log({ bus: respBus });

    if (respTrayek.data.error > 0) {
      alert(respTrayek.data.message);
    } else {
      listTrayek = respTrayek.data.data;
      selectedData = resp.data.data[0];
    }
    // Req bus
    if (respBus.data.error > 0) {
      alert(resp.data.message);
    } else {
      listBus = respBus.data.data;
      selectedData = resp.data.data[0];
    }
  });

  async function updateData() {
    selectedData = {
      ...selectedData,
      id_bus: selectedData.id_bus.id,
      id_trayek: selectedData.id_trayek.id,
    };
    let resp = await jt.updateJamTrayek(token, $params.id, selectedData);
    if (resp.error > 0) {
      console.log("error", resp.message);
    } else {
      $goto("/jamtrayek");
    }
  }

  function cancel() {
    $goto("/jamtrayek");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Trayek</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Trayek</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Trayek</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if listTrayek && listTrayek && selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label class="col-form-label">Bus</label>
                  <select
                    bind:value={selectedData.id_bus.id}
                    class="form-control">
                    {#each listBus as item}
                      <option value={item.id}>{item.nopol_bus}</option>
                    {/each}
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Trayek</label>
                  <select
                    bind:value={selectedData.id_trayek.id}
                    class="form-control">
                    {#each listTrayek as item}
                      <option value={item.id}>
                        {item.id_kota_asal.nm_kota}
                        -
                        {item.id_kota_tujuan.nm_kota}
                      </option>
                    {/each}
                  </select>
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Jam
                    Berangkat</label>
                  <input
                    bind:value={selectedData.jam_berangkat}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Jam
                    Sampai</label>
                  <input
                    bind:value={selectedData.jam_sampai}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
              </div>
              <!--
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Kota
                    Asal</label>
                  <input
                    bind:value={selectedData.k_asal}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Kota
                    Tujuan</label>
                  <input
                    bind:value={selectedData.k_tujuan}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label
                    for="example-text-input"
                    class="col-form-label">Harga</label>
                  <input
                    bind:value={selectedData.harga}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div> -->
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
