<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store, userData } from "../../../store/auth";
  import agen from "../../../api/master/agen";
  import user from "../../../api/master/user";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let dataAgen;
  let selectedData;
  let listUser = [];

  onMount(async () => {
    let resp = await agen.listAgen(token);
    dataAgen = resp.data.data;
    selectedData = dataAgen.filter((item) => item.id == $params.id)[0];

    let res = await user.listEmployee(token);
    if (res.data.error > 0) {
      alert(res.data.message);
    } else {
      listUser = res.data.data;
    }
  });

  async function updateData() {
    selectedData = {
      ...selectedData,
      id_pobus: $userData.pobus[0].id,
      id_user: selectedData.id_user.id,
    };
    let resp = await agen.updateAgen(token, $params.id, selectedData);
    if (resp.data.error > 0) {
      console.log("error", resp.data);
    } else {
      $goto("/agen");
    }
  }

  function cancel() {
    $goto("/agen");
  }

  // console.log($params);
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Agen</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Agen</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Agen</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Nama
                    Agen</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.nm_agen}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Alamat
                    Agen</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.addr_agen}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label class="col-form-label">User</label>
                  <select
                    class="form-control"
                    bind:value={selectedData.id_user.id}>
                    {#each listUser as item}
                      <option value={item.id_user.id}>
                        {item.id_user.nm_user}
                      </option>
                    {/each}
                  </select>
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
