<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store } from "../../../store/auth";
  import user from "../../../api/master/user";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let dataUser;
  let selectedData;

  $: [id, action = "view"] = $leftover.split("/");

  onMount(async () => {
    let resp = await user.listEmployee(token);
    dataUser = resp.data.data;
    selectedData = dataUser.filter((item) => item.id == $params.id)[0];
  });

  async function updateData() {
    let resp = await user.updateUser(
      token,
      selectedData.id_user.id,
      selectedData.id_user
    );
    if (resp.error > 0) {
      console.log("error", resp.message);
    } else {
      $goto("/users");
    }
  }

  function cancel() {
    $goto("/users");
  }

  // console.log($params);
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">User</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage User</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data User</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Nama
                    User</label>
                  <input
                    bind:value={selectedData.id_user.nm_user}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Email
                    User</label>
                  <input
                    bind:value={selectedData.id_user.email_user}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Alamat
                    User</label>
                  <input
                    bind:value={selectedData.id_user.addr_user}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">No Telp</label>
                  <input
                    bind:value={selectedData.id_user.telp_user}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Wewenang User</label>
                  <select class="form-control" bind:value={selectedData.id_user.type_user}>
                    <option value={2}>Super Admin</option>
                    <option value={5}>Admin</option>
                    <option value={6}>Customer Service</option>
                    <option value={7}>Agen Center</option>
                    <option value={3}>Agen</option>
                    <option value={4}>Crew</option>
                    <option value={8}>Driver</option>
                    <option value={9}>Kondektur</option>
                  </select>
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
