<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store } from "../../../store/auth";
  import kursi from "../../../api/master/kursi";
  import bus from "../../../api/master/bus";
  import { onMount } from "svelte";
  import EditKursi from "../../../component/EditKursi.svelte";

  let token = $store.token.data;
  let dataKursi;
  let selectedData;
  let isOpenModal = false;
  let kursiById;

  onMount(async () => {
    let resp = await kursi.listKursi(token);
    dataKursi = resp.data.data;
    selectedData = dataKursi.filter((item) => item.id == $params.id)[0];
  });

  async function updateData() {
    let resp = await kursi.updateKursi(token, $params.id, selectedData);
    if (resp.data.error > 0) {
      console.log("error", resp.data);
    } else {
      $goto("/kursi");
    }
  }

  function openModal() {
    isOpenModal = !isOpenModal;
  }

  function cancel() {
    $goto("/kursi");
  }

  function selectedSeat(objParent, objKursi, idx) {
    kursiById = objKursi;
    openModal();
  }
  // console.log($params);
</script>

<style>
  @media (max-width: 575.98px) {
    .box-kursi {
      height: 40px;
      width: 48px;
      margin-bottom: 5px;
    }
    .container-kursi {
      display: flex;
      justify-content: center;
    }
  }
  @media (min-width: 600px) {
    .box-kursi {
      height: 50px;
      width: 50px;
      margin-bottom: 5px;
    }
    .container-kursi {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 1440px) and (min-width: 1187px) {
    .col-kursi {
      width: 13% !important;
      flex: 0 0 15% !important;
    }
  }

  @media screen and (max-width: 1024px) and (min-width: 873px) {
    .col-kursi {
      width: 13% !important;
      flex: 0 0 15% !important;
    }
  }

  @media screen and (max-width: 425px) and (min-width: 320px) {
    .col-kursi {
      width: 100% !important;
      flex: 0 0 50% !important;
    }
    .txt-kursi {
      text-align: center !important;
      margin: 0 !important;
      font-size: 10px !important;
    }
  }

  @media screen and (max-width: 425px) and (min-width: 392px) {
    .col-kursi {
      width: 30% !important;
      flex: 0 0 35% !important;
    }
    .txt-kursi {
      text-align: center !important;
      margin: 0 !important;
      font-size: 10px !important;
    }
  }

  .txt-kursi {
    text-align: center;
    margin: 0;
    font-size: 12px;
  }

  .col-kursi {
    width: 13%;
    flex: 0 0 13%;
  }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Kursi</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Kursi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Kursi</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="container-kursi">
                <div class="col-kursi">
                  {#each selectedData.kursi as item, a}
                    {#if a <= 17}
                      {#if item.available == 0}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-success box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {:else if item.available == 1}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-danger box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {:else}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-dark box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {/if}
                    {/if}
                  {/each}
                </div>
                <div class="col-kursi">
                  {#each selectedData.kursi as item, a}
                    {#if a >= 18}
                      {#if item.available == 0}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-success box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {:else if item.available == 1}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-danger box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {:else}
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-dark box-kursi">
                          <p class="txt-kursi">{item.kd_kursi}</p>
                        </button>
                      {/if}
                    {/if}
                  {/each}
                </div>
              </div>
              <!-- {#if (a + 1) % 2 == 0}
                    {#if item.available == 0}
                      <div style="margin: 2px;margin-right: 20px">
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-info box-kursi">
                          <p style="text-align:center;margin:0;font-size:12px">
                            {item.kd_kursi}
                          </p>
                        </button>
                      </div>
                    {:else}
                      <div style="margin: 2px;margin-right: 20px">
                        <button
                          on:click={() => selectedSeat(selectedData, item, a)}
                          class="btn btn-danger box-kursi">
                          <p style="text-align:center;margin:0;font-size:12px">
                            {item.kd_kursi}
                          </p>
                        </button>
                      </div>
                    {/if}
                  {:else if item.available == 0}
                    <div style="margin: 2px">
                      <button
                        on:click={() => selectedSeat(selectedData, item, a)}
                        class="btn btn-info box-kursi">
                        <p style="text-align:center;margin:0;font-size:12px">
                          {item.kd_kursi}
                        </p>
                      </button>
                    </div>
                  {:else}
                    <div style="margin: 2px">
                      <button
                        on:click={() => selectedSeat(selectedData, item, a)}
                        class="btn btn-danger box-kursi">
                        <p style="text-align:center;margin:0;font-size:12px">
                          {item.kd_kursi}
                        </p>
                      </button>
                    </div>
                  {/if} -->
              <EditKursi
                data={kursiById}
                open={isOpenModal}
                toggle={() => openModal()} />
            {:else}
              <p>loading..</p>
            {/if}
          </div>
          {#if selectedData?.kursi?.length == 0}
            <div style="text-align:center;">
              <h4>Data Kursi Kosong</h4>
            </div>
          {/if}
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
