<script>
  import { goto } from "@sveltech/routify";
  import { store } from "../../store/auth";
  import kursi from "../../api/master/kursi";
  import bus from "../../api/master/bus";
  import { onMount } from "svelte";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};
  let listBus = [];

  onMount(async () => {
    let resp = await bus.listBus(token);
    if (resp.data.error > 0) {
      alert(resp.data.message);
    } else {
      listBus = resp.data.data;
    }
  });

  async function addData() {
    console.log(data);
    let resp = await kursi.createKursi(token, data);
    console.log(resp.data);
    if (resp.data.error > 0) {
      Swal.fire("Error Create Data", "", "error");
    } else {
      $goto("/kursi");
    }
  }

  function cancel() {
    $goto("/kursi");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Kursi</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Kursi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Kursi</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label
                  for="example-text-input"
                  class="col-form-label">Bus</label>
                <select bind:value={data.id_bus} class="form-control">
                  <option value="">Silahkan Pilih Bus</option>
                  {#each listBus as item}
                    <option value={item.id}>{item.nopol_bus}</option>
                  {/each}
                </select>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Kode
                  Kursi</label>
                <input
                  bind:value={data.kd_kursi}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label
                  for="example-text-input"
                  class="col-form-label">Available</label>
                <input
                  bind:value={data.available}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
