<script>
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import kursi from "../../api/master/kursi";
  import { store } from "../../store/auth";
  import Swal from "sweetalert2";

  const jq = window.$;
  let dataTable;
  let table;
  let token = $store.token.data;
  let isLoading = true;
  let isError = false;
  let msgError = "";

  onMount(async () => {
    let resp = await kursi.listKursi(token);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      isLoading = false;
      table = jq(dataTable).DataTable({
        data: resp.data.data,
        responsive: true,
        columns: [
          { data: null, title: "No." },
          { data: "kd_bus", title: "Kode Bus" },
          { data: "nopol_bus", title: "Plat Nomor Bus" },
          {
            data: null,
            title: "Jumlah Kursi",
            render: function (data, type, row) {
              var filter = row.kursi.filter((item,index) => item.available == 0 || item.available == 1 );
              var details = filter.length;
              return details;
            },
          },
          {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
            }
          },
        ],
      });
      table
        .on("order.dt search.dt", function () {
          table
            .column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        })
        .draw();
    }

    window.editData = (id) => {
      $goto("/kursi/update/:id", { id: id });
    };

    window.deleteData = (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await kursi.deleteKursi(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });

  function addData(event) {
    event.preventDefault();
    $goto("/kursi/create");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Kursi</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Kursi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button class="btn btn-primary" on:click={addData}>Tambah Data
                <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
          {/if}

          {#if isError}
            <div style="text-align:center;">
              <h4>{msgError}</h4>
            </div>
          {/if}

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
