<script>
  import Header from "../component/Header.svelte";
  import Sidebar from "../component/Sidebar.svelte";

  import jwtDecode from "jwt-decode";
  import { store } from "../store/auth";
  import { goto, redirect } from "@sveltech/routify";

  if ($store == null) {
    window.location = "/login";
  } else {
    var token = $store.token.data;
    let decodedToken = jwtDecode(token);
    if (new Date().getTime() > decodedToken.exp * 1000) {
      window.localStorage.clear();
      window.location = "/login";
    }
  }
</script>

<main>
  <div class="container-fluid">
    <div id="layout-wrapper">
      <Header />

      <Sidebar />

      <slot>
        <!-- optional fallback -->
      </slot>
    </div>
    <!-- END layout-wrapper -->
  </div>
  <!-- end container-fluid -->
</main>
