<script>
  import { store } from "../store/auth";
  import { goto } from "@sveltech/routify";
  import jwtDecode from "jwt-decode";

  let decodedToken = jwtDecode($store?.token?.data);

  if ($store == {}) {
    $goto("/login");
  } else {
    if (decodedToken?.exp * 1000 < Date.now()) {
      localStorage.clear();
      $goto("/login");
    }
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Dashboard</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">
                Welcome to Ticket Bus Dashboard
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row" />
    <!-- end row -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
