<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store, userData } from "../../../store/auth";
  import bus from "../../../api/master/bus";
  import trayek from "../../../api/master/trayek";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let dataBus;
  let listTrayek = [];
  let selectedData;

  $: [id, action = "view"] = $leftover.split("/");

  onMount(async () => {
    let tr = await trayek.listTrayek(token);
    listTrayek = tr.data.data;
    let resp = await bus.listBus(token);
    dataBus = resp.data.data;
    selectedData = dataBus.filter((item) => item.id == $params.id)[0];
  });

  async function updateData() {
    selectedData = {
      ...selectedData,
      id_pobus: $userData.pobus[0].id,
    };
    let resp = await bus.updateBus(token, $params.id, selectedData);
    if (resp.error > 0) {
      console.log("error", resp.message);
    } else {
      $goto("/bus");
    }
  }

  function cancel() {
    $goto("/bus");
  }

  // console.log($params);
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Bus</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Bus</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Bus</h4>
          <div class="row">
            <div class="col-sm-3">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Kode
                    Bus</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.kd_bus}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Nopol
                    Bus</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.nopol_bus}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Lokasi
                    Terakhir</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.lastloc_bus}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">IMEI</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.imei}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Keterangan</label>
                  <select
                    bind:value={selectedData.keterangan}
                    class="form-control">
                    <option value="">Pilih Keterangan</option>
                    {#if selectedData.keterangan == "Timur-Barat"}
                    <option selected value="Timur-Barat">Timur-Barat</option>
                    <option value="Barat-Timur">Barat-Timur</option>
                    {:else if selectedData.keterangan == "Barat-Timur"}
                    <option value="Timur-Barat">Timur-Barat</option>
                    <option selected value="Barat-Timur">Barat-Timur</option>
                    {:else}
                    <option value="Timur-Barat">Timur-Barat</option>
                    <option value="Barat-Timur">Barat-Timur</option>
                    {/if}
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Status</label>
                  <select bind:value={selectedData.status} class="form-control">
                    <option value="">Pilih Status Bus</option>
                    {#if selectedData.status == 1}
                      <option value="0">Aktif</option>
                      <option selected value="1">Cadangan</option>
                    {:else}
                      <option selected value="0">Aktif</option>
                      <option value="1">Cadangan</option>
                    {/if}
                  </select>
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
