<script>
    import { onMount } from "svelte";
    import pobus from "../../api/master/pobus";
    import transaksi from "../../api/master/transaksi";
    import { store } from "../../store/auth";
    import { params } from "@sveltech/routify";
    import Swal from "sweetalert2";
    import moment from "moment";
    import qr from "qrious/dist/qrious";
    import idLocale from "moment/locale/id";
    import { SiteUrl } from "../../constants/config";
    import {saveAs} from 'file-saver';

    moment.locale("id", idLocale);

    let token = $store.token.data;
    let dataTransaksi;
    let selectedData;
    let base64;

    onMount(async () => {
        let resp = await pobus.historiPoAgen(token);
        dataTransaksi = resp.data.data;
        selectedData = dataTransaksi.filter(
            (item) => item.kd_transaksi == $params.transaksi
        )[0];
        var a = new qr({
            element: window.document.getElementById("qr"),
            value: `${selectedData.kd_transaksi}`,
            size: 378,
        });
        base64 = a.toDataURL("image/jpeg");
        console.log(selectedData);
    });

    const jq = window.$;

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0,00";
    }

    async function printPdf() {
        const fileName = `${moment().format('DD-MM-YYYY hh:mm:ss')} - ${selectedData.kd_transaksi}`;
        const htmlString = window.$('#print').html();
        const print = await transaksi.printPdf(token,{fileName,htmlString});
        const blob = new Blob([print.data],{type:"application/pdf;charset=utf-8"});
        console.log(print.data);
        saveAs(blob,'file.pdf');
    }

    async function changeLunas() {
        let resp = await transaksi.updateLunas(token, selectedData?.id);
        if (resp.data.error > 0) {
            Swal.fire(resp.data.message, "", "danger");
        } else {
            window.location.reload();
        }
    }
</script>

<style>
    @media screen {
        p.bodyText {
            font-family: verdana, arial, sans-serif;
        }
    }

    @media print {
        #get-pdf {
            visibility: hidden;
        }
        p.bodyText {
            font-family: georgia, times, serif;
        }
    }
    @media screen, print {
        p.bodyText {
            font-size: 10pt;
        }
    }

    p,
    span {
        color: #495057;
        margin:5px;
    }

    .fs-harga {
        color: #ffa62b;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box d-flex align-items-center
              justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Invoice</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">
                                Invoice Tiket
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {#if selectedData?.status == 0}
                        <button
                            style="margin-bottom: 10px;"
                            disabled
                            id="get-pdf"
                            on:click={() => printPdf()}
                            class="btn btn-danger">
                            <i class="mdi mdi-download" />
                            Download Pdf</button>
                    {:else}
                        <button
                            style="margin-bottom: 10px;"
                            id="get-pdf"
                            on:click={() => printPdf()}
                            class="btn btn-danger">
                            <i class="mdi mdi-download" />
                            Download Pdf</button>
                    {/if}
                    {#if selectedData}
                        <div id="print" class="invoice">
                            <table width="100%">
                                <tr>
                                    <td>
                                        <img
                                            class="img-fluid"
                                            style="width:225px"
                                            src={`${SiteUrl}assets/images/logo/eka-invoice.png`}
                                            alt="Eka" />
                                    </td>
                                    <td></td>
                                    <td rowspan="10" style="text-align: center;">
                                        <img
                                            id="qr"
                                            class="img-fluid"
                                            src={base64}
                                            style="width: 150px"
                                            alt="tiket" />
                                        <p style="font-weight: 700;font-size:16px">{selectedData.kd_transaksi}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 18px;margin-top:20px;">
                                            Tanggal Pemesanan :
                                        </p>
                                    </td>
                                    <td>
                                        <p style="font-weight: 700;margin-top:20px;">
                                            Jadwal Berangkat :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 16px;font-weight: 500;">
                                            {moment().format('DD/MM/YYYY HH:mm')}
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:16px;font-weight: 700">
                                            {moment(selectedData.tanggal).format('dddd,DD MMM yyyy')}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="font-size: 18px;">
                                            No. Kursi :
                                        </p>
                                    </td>
                                    <td>
                                        <p style="font-weight: 700">
                                            Jam Berangkat :
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 20px;font-weight: 700;">
                                            {selectedData.id_kursi.kd_kursi}
                                        </span>
                                    </td>
                                    <td>
                                        <p>
                                            {selectedData.id_jamtrayek.jam_berangkat}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 18px;">Nopol Bus :</span>
                                    </td>
                                    <td>
                                        <p style="font-weight: 700">Jam Sampai :</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size: 20px;font-weight: 700;">
                                            {selectedData.id_bus.nopol_bus}
                                        </span>
                                    </td>
                                    <td>
                                        <p>
                                            {selectedData.id_jamtrayek.jam_sampai}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!-- <div class="row">
                                <div class="col-md-4">
                                    <img
                                        class="img-fluid"
                                        style="width:225px"
                                        src={`${SiteUrl}assets/images/logo/eka-invoice.png`}
                                        alt="Eka" />
                                    <p style="font-size: 18px;margin-top: 20px">
                                        Tanggal Pemesanan :
                                    </p>
                                    <span
                                        style="font-size: 16px;font-weight: 500;">
                                        {moment().format('DD/MM/YYYY HH:mm')}
                                    </span>
                                    <p style="font-size: 18px;margin-top: 20px">
                                        No. Kursi :
                                    </p>
                                    <span
                                        style="font-size: 20px;font-weight: 700;">
                                        {selectedData.id_kursi.kd_kursi}
                                    </span>
                                </div>
                                <div class="col-md-4">
                                    <p style="font-weight: 700">
                                        Jadwal Berangkat :
                                    </p>
                                    <p style="font-size:16px;font-weight: 700">
                                        {moment(selectedData.tanggal).format('dddd,DD MMM yyyy')}
                                    </p>
                                    <p style="font-weight: 700">
                                        Jam Berangkat :
                                    </p>

                                    <p>
                                        {selectedData.id_jamtrayek.jam_berangkat}
                                    </p>
                                    <p style="font-weight: 700">Jam Sampai :</p>

                                    <p>
                                        {selectedData.id_jamtrayek.jam_sampai}
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <div style="text-align:center;">
                                        <img
                                            id="qr"
                                            class="img-fluid"
                                            src={base64}
                                            style="width: 275px"
                                            alt="tiket" />
                                    </div>
                                    <h5 style="text-align:center">
                                        {selectedData.kd_transaksi}
                                    </h5>
                                </div>
                            </div> -->
                            <div style="margin-top: 20px">
                                <table width="100%">
                                    <tr style="border: 1px solid #000;">
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">No.</th>
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">Agen Pemesanan</th>
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">Penumpang</th>
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">Rute</th>
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">No Ticket</th>
                                        <th style="border: 1px solid #000; text-align: center;padding:10px;">Harga</th>
                                    </tr>
                                    <tr style="border: 1px solid #000;">
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">1</td>
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">{selectedData.id_agen.nm_agen}</td>
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">{selectedData.nama}</td>
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">
                                            <span>{selectedData.id_jamtrayek.id_trayek.k_asal}</span>
                                            <span> - </span>
                                            <span>{selectedData.id_jamtrayek.id_trayek.k_tujuan}</span>
                                        </td>
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">{selectedData.kd_transaksi}</td>
                                        <td style="border: 1px solid #000; text-align: center;padding:10px;">
                                            {formatRupiah(selectedData.total_hrg)}
                                        </td>
                                    </tr>
                                </table>
                                {#if selectedData.status == 0}
                                    <div
                                        style="display:flex;justify-content:center"
                                        class="col align-self-center">
                                        <button
                                            id="button-lunas"
                                            on:click={() => changeLunas()}
                                            class="btn btn-success">LUNAS</button>
                                    </div>
                                {:else}{/if}
                            </div>
                        </div> 
                    {:else}
                        <h2>Loading...</h2>
                    {/if}
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->
