<svelte:head>
  <style>
    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b{
      top: 0%;
    }
  </style>
</svelte:head>

<script>
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import agen from "../../api/master/agen";
  import { store, userData } from "../../store/auth";
  import Swal from "sweetalert2";
  import CreateEditModal from "../../component/CreateEditModal.svelte";
  import user from "../../api/master/user";

  const jq = window.$;
  let dataTable;
  let table;
  let token = $store.token.data;
  let isLoading = true;
  let isError = false;
  let msgError = "";
  let data = {};
  let isEdit = false;
  let listUser = [];
  let listAgen = [];

  function onClose() {
    jq('#exampleModalCenter').modal('hide');
  }

  function openModalCreate() {
    isEdit = false;
    data = {};      
    jq(".custom-select-user").val(null).trigger('change');
    jq('#exampleModalCenter').modal('show');
    console.log('func openModalCreate',isEdit);
  }

  function openModalEdit() {
    isEdit = true;
    jq('#exampleModalCenter').modal('show');
  }

  async function addData() {
    data.id_pobus = $userData.pobus[0].id;
    data.id_user = jq('.custom-select-user').select2("val");
    let resp = await agen.createAgen(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Tambah Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Tambah Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  async function editData() {
    data.id_pobus = $userData.pobus[0].id;
    data.id_user = jq('.custom-select-user').select2("val");
    let resp = await agen.updateAgen(token, data.id , data);
    if (resp.data.error > 0) {
      console.log(resp.data.stack);
      Swal.fire("Error Edit Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Edit Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  onMount(async () => {
    jq(".custom-select-user").select2({
        theme: 'bootstrap4',
        dropdownParent: jq('#exampleModalCenter')
    });

    let respUser = await user.listEmployee(token);
    if (respUser.data.error > 0) {
      alert(respUser.data.message);
    } else {
      listUser = respUser.data.data;
    }

    let resp = await agen.listAgen(token);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      isLoading = false;
      listAgen = resp.data.data;
      table = jq(dataTable).DataTable({
        data: resp.data.data,
        responsive: true,
        columns: [
          { data: null, title: "No." },
          { data: "id_user.email_user", title: "Username" },
          { data: "addr_agen", title: "Alamat" },
          { data: "id_pobus.nm_pobus", title: "Nama Po Bus" },
          { data: "max_order", title: "Max. Order" },
          {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
          },
        },
        ],
      });
      table
        .on("order.dt search.dt", function () {
          table
            .column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        })
        .draw();
    }
    window.editData = (id) => {
      let indexData = listAgen.findIndex(obj => obj.id == id);
      let dataById = listAgen[indexData];
      
      data = {...dataById};

      var optAsal = new Option(dataById.nm_agen, dataById.id, true, true);
      jq(".custom-select-user").append(optAsal).trigger('change');

      openModalEdit();
    };

    window.deleteData = (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await agen.deleteAgen(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Agen</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Agen</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button class="btn btn-primary" on:click={openModalCreate}>Tambah Data
                <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
          {/if}

          {#if isError}
            <div style="text-align:center;">
              <h4>Error Get Data</h4>
            </div>
          {/if}

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <CreateEditModal
      titleContent="Bus"
      isEdit={isEdit}
      onClose={onClose}>
        <div slot="body" class="form-group">
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Nama Agen</label>
            <input
              bind:value={data.nm_agen}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Alamat
              Agen</label>
            <input
              bind:value={data.addr_agen}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label for="example-text-input" class="col-form-label">Max Order</label>
            <input
              bind:value={data.max_order}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label class="col-form-label">User</label>
            <select bind:value={data.id_user} class="form-control custom-select-user">
              <option value="" >Silahkan Pilih User</option>
              {#each listUser as item}
                <option value={item.id_user.id}>
                  {item.id_user.nm_user}
                </option>
              {/each}
            </select>
          </div>
        </div>
        <div slot="action">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {#if isEdit}
            <button on:click={editData} type="button" class="btn btn-primary">Simpan</button>
          {:else}
            <button on:click={addData} type="button" class="btn btn-primary">Simpan</button>
          {/if}
        </div>
    </CreateEditModal>
    <!-- end row -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
