<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store } from "../../../store/auth";
  import pobus from "../../../api/master/pobus";
  import trans from "../../../api/master/transaksi";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let dataTransaksi;
  let selectedData;

  onMount(async () => {
    let resp = await pobus.historiPoCrew(token);
    dataTransaksi = resp.data.data;
    console.log(dataTransaksi);
    selectedData = dataTransaksi.filter((item) => item.id == $params.id)[0];
  });

  async function updateData() {
    let data = {
      ...selectedData,
    };
    data.id_pobus = selectedData.id_pobus.id;
    data.id_agen = selectedData.id_agen.id;
    data.id_pobus = selectedData.id_pobus.id;
    data.id_jamtrayek = selectedData.id_jamtrayek.id;
    data.id_kursi = selectedData.id_kursi.id;
    let resp = await trans.updateTrans(token, $params.id, data);
    if (resp.data.error > 0) {
      console.log("error", resp.data);
    } else {
      $goto("/historipocrew");
    }
  }

  function cancel() {
    $goto("/historipocrew");
  }

  // console.log($params);
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Transaksi</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Transaksi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Transaksi</h4>
          <div class="row">
            <div class="col-sm-6">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Kode
                    Transaksi</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.kd_transaksi}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Kode
                    Kursi</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.id_kursi.kd_kursi}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Nama
                    Penumpang</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.nama}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label
                    for="example-text-input"
                    class="col-form-label">Tanggal</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.tanggal}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label">Total
                    Harga</label>
                  <input
                    class="form-control"
                    type="text"
                    bind:value={selectedData.total_hrg}
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Status</label>
                  <select class="form-control" bind:value={selectedData.status}>
                    <option value={0}>Belum Lunas</option>
                    <option value={1}>Lunas</option>
                  </select>
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
