<script>
  import { params, leftover, goto } from "@sveltech/routify";
  import { store, userData } from "../../../store/auth";
  import trayek from "../../../api/master/trayek";
  import kota from "../../../api/master/kota";
  import { onMount } from "svelte";

  let token = $store.token.data;
  let dataTrayek;
  let selectedData;
  let listKota = [];

  onMount(async () => {
    let resp = await trayek.listTrayek(token);
    dataTrayek = resp.data.data;
    selectedData = dataTrayek.filter((item) => item.id == $params.id)[0];

    let kt = await kota.listKota(token);
    if (kt.data.error > 0) {
      console.log(kt.data);
    } else {
      listKota = kt.data.data;
    }
  });

  async function updateData() {
    selectedData = {
      ...selectedData,
      id_pobus: $userData.pobus[0].id,
      id_kota_asal: selectedData.id_kota_asal.id,
      id_kota_tujuan: selectedData.id_kota_tujuan.id,
    };
    let resp = await trayek.updateTrayek(token, $params.id, selectedData);
    if (resp.error > 0) {
      console.log("error", resp.message);
    } else {
      $goto("/tarif");
    }
  }

  function cancel() {
    $goto("/tarif");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Tarif</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Tarif</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update Data Tarif</h4>
          <div class="row">
            <div class="col-sm-3">
              <button class="btn btn-success" on:click={updateData}>Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button class="btn btn-danger mx-1" on:click={cancel}>Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            {#if selectedData}
              <div class="col-md-9">
                <div class="form-group">
                  <label class="col-form-label">Kota Asal</label>
                  <select
                    class="form-control"
                    bind:value={selectedData.id_kota_asal.id}>
                    {#each listKota as item}
                      <option value={item.id}>{item.nm_kota}</option>
                    {/each}
                  </select>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Kota Asal</label>
                  <select
                    class="form-control"
                    bind:value={selectedData.id_kota_tujuan.id}>
                    {#each listKota as item}
                      <option value={item.id}>{item.nm_kota}</option>
                    {/each}
                  </select>
                </div>
                <div class="form-group">
                  <label
                    for="example-text-input"
                    class="col-form-label">Harga</label>
                  <input
                    bind:value={selectedData.harga}
                    class="form-control"
                    type="text"
                    id="example-text-input" />
                </div>
                <div class="form-group">
                  <label class="col-form-label">Keterangan</label>
                  <select
                    bind:value={selectedData.keterangan}
                    class="form-control">
                    <option value="">Pilih Keterangan</option>
                    {#if selectedData.keterangan == 'Berangkat'}
                      <option value="Berangkat" selected>Berangkat</option>
                      <option value="Pulang">Pulang</option>
                    {:else if selectedData.keterangan == 'Pulang'}
                      <option value="Berangkat">Berangkat</option>
                      <option value="Pulang" selected>Pulang</option>
                    {:else}
                      <option value="Berangkat">Berangkat</option>
                      <option value="Pulang">Pulang</option>
                    {/if}
                  </select>
                </div>
              </div>
            {:else}
              <p>loading..</p>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
