<script>
  import { goto } from "@sveltech/routify";
  import { store, userData } from "../../store/auth";
  import crew from "../../api/master/crew";
  import user from "../../api/master/user";
  import { onMount } from "svelte";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};
  let listUser = [];

  onMount(async () => {
    let resp = await user.listEmployee(token);
    if (resp.data.error > 0) {
      alert(resp.data.message);
    } else {
      listUser = resp.data.data;
    }
  });

  async function addData() {
    data.id_pobus = $userData.pobus[0].id;
    let resp = await crew.createCrew(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Create Data", "", "error");
    } else {
      $goto("/crew");
    }
  }

  function cancel() {
    $goto("/crew");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Crew</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Crew</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Crew</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label class="col-form-label">User</label>
                <select bind:value={data.id_user} class="form-control">
                  <option value="">Silahkan Pilih User</option>
                  {#each listUser as item}
                    <option value={item.id_user.id}>
                      {item.id_user.nm_user}
                    </option>
                  {/each}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
