<script>
  import DetailModal from "../../component/DetailModal.svelte";
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import pobus from "../../api/master/pobus";
  import { store } from "../../store/auth";
  import Swal from "sweetalert2";

  const jq = window.$;
  let dataTable;
  let table;
  let token = $store.token.data;
  let isOpen = false;
  let data;
  let dataById;
  let isLoading = true;
  let isError = false;
  let msgError = "";
  let startDate;
  let endDate;

  function openModal() {
    isOpen = !isOpen;
  }

  async function btnFilter() {
    let resp = await pobus.historiPoAgen(token,{startDate,endDate});
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      table.clear().draw();
      table.rows.add(resp.data.data); // Add new data
      table.columns.adjust().draw();
    }
  }

  async function clearFilter() {
    let resp = await pobus.historiPoAgen(token,{startDate:'',endDate: ''});
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      table.clear().draw();
      table.rows.add(resp.data.data); // Add new data
      table.columns.adjust().draw();
    }
  }

  onMount(async () => {
    let resp = await pobus.historiPoAgen(token,{startDate:'',endDate: ''});
    console.log(resp);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      data = resp.data.data;
      console.log({history: data});
      isLoading = false;
      table = jq(dataTable).DataTable({
        responsive: true,
        data: data,
        columns: [
          {
            data: null,
            title: "Kode Transaksi",
            render: function (data, type, row) {
              var details = `<button class="btn btn-outline-info" onclick='detail(${row.id})'>
              ${row.kd_transaksi}
            </button>`;
              return details;
            },
          },
          { data: "id_bus.nopol_bus", title: "Nopol Bus" },
          { data: "id_agen.nm_agen", title: "Nama Agen" },
          {
            data: null,
            title: "Jam Trayek",
            render: function (data, type, row) {
              var details =
                row.id_jamtrayek.jam_berangkat +
                " - " +
                row.id_jamtrayek.jam_sampai;
              return details;
            },
          },
          { data: "tanggal", title: "Tanggal" },
          {
            data: null,
            title: "Status",
            render: function (data, type, row) {
              if (row.status === 0) {
                return '<span style="padding: 10px;" class="badge badge-pill badge-secondary">Belum Dibayar</span>';
              } else if (row.status === 1) {
                return '<span style="padding: 10px;" class="badge badge-pill badge-success">Lunas</span>';
              } else if (row.status === 2) {
                return '<span style="padding: 10px;" class="badge badge-pill badge-primary">Selesai</span>';
              } else {
                return;
              }
            },
          },
        ],
      });
    }

    window.detail = (id) => {
      dataById = data.filter((item) => item.id == id)[0];
      $goto("/invoicepoagen/:transaksi", { transaksi: dataById.kd_transaksi });
    };

    window.editData = (id) => {
      $goto("/historipoagen/update/:id", { id: id });
    };

    // window.deleteData = (el) => {
    //   var row = table.row(jq(el).parents("tr")).data();
    //   Swal.fire({
    //     title: "Delete Data ?",
    //     showDenyButton: true,
    //     confirmButtonText: `Confirm`,
    //     denyButtonText: `Cancel`,
    //     icon: "warning",
    //   }).then(async (result) => {
    //     /* Read more about isConfirmed, isDenied below */
    //     if (result.isConfirmed) {
    //       let resp = await po.deletePoBus(token, row.id);
    //       if (resp.data.error > 0) {
    //         Swal.fire("Error Delete Data", "", "error");
    //       } else {
    //         Swal.fire("Success Delete Data", "", "success");
    //         window.location.reload();
    //       }
    //     } else if (result.isDenied) {
    //       // Swal.fire("Changes are not saved", "", "info");
    //     }
    //   });
    // };
  });
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">History Transaksi</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage History Transaksi</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
            {:else}
              <div class="row">
                <div style="margin:10px">
                  <label for="startDate">Tanggal Awal :</label>
                  <input bind:value={startDate} type="date" />
                </div>
                <div style="margin:10px">
                  <label for="endDate">Tanggal Akhir :</label>
                  <input bind:value={endDate} type="date" />
                </div>
                <div style="margin:10px">
                  <button on:click={() => btnFilter()} class="btn btn-primary"><i class="fa fa-filter mr-2"></i>Filter</button>
                  <button on:click={() => clearFilter()} class="btn btn-danger"><i class="fa fa-times mr-2"></i>Clear Filter</button>
                </div>
              </div>
          {/if}

          {#if isError}
            <div style="text-align:center;">
              <h4>{msgError}</h4>
            </div>
          {/if}
          
          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <!-- end row -->
    <DetailModal data={dataById} open={isOpen} toggle={() => openModal()} />
  </div>
  <!-- End Page-content -->

  <footer class="footer" style="position:relative">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
