<script>
    import DetailModal from "../../component/DetailModal.svelte";
    import { Spinner } from "sveltestrap";
    import { goto } from "@sveltech/routify";
    import { onMount } from "svelte";
    import transaksi from "../../api/master/transaksi";
    import { store } from "../../store/auth";
    import Swal from "sweetalert2";
    import moment from "moment";
  
    const jq = window.$;
    let dataTable;
    let table;
    let token = $store.token.data;
    let isOpen = false;
    let data;
    let dataById;
    let isLoading = true;
    let isError = false;
    let msgError = "";
  
    function openModal() {
      isOpen = !isOpen;
    }

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp " + NumberFormat;
        }
        return "Rp 0,00";
    }
  
    onMount(async () => {
      let resp = await transaksi.getReportBri(token,{startDate: moment().format('YYYYMMDD'),endDate:moment().format('YYYYMMDD')});
      console.log(resp.data.data.data);
      if (resp.data.error > 0) {
        isLoading = false;
        isError = true;
        msgError = resp.data.message;
      } else {
        data = resp.data.data.data;
        isLoading = false;
        table = jq(dataTable).DataTable({
          responsive: true,
          data: data,
          columns: [
            {
              data: null,
              title: "Kode Customer",
              render: function (data, type, row) {
                var details = `<button class="btn btn-outline-info" onclick='detail("${row.custCode}")'>
                ${row.custCode}
              </button>`;
                return details;
              },
            },
            { data: "nama", title: "Nama" },
            {
              data: null,
              title: "Tanggal",
              render: function (data, type, row) {
                var details = moment(row.paymentDate).format("YYYY-MM-DD HH:mm");
                return details;
              },
            },
            {
              data: null,
              title: "Jumlah Pembayaran",
              render: function (data, type, row) {
                var details = formatRupiah(row.amount)
                return details;
              },
            },
          ],
        });
      }
  
      window.detail = (id) => {
        $goto("/reportbri/detail/:custcode", { custcode: id });
      };

    });
  </script>
  
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    <div class="page-content">
      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div
            class="page-title-box d-flex align-items-center
              justify-content-between">
            <h4 class="page-title mb-0 font-size-18">Report Transaksi BRI</h4>
  
            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item active">Manage Transaksi BRI</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- end page title -->
  
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            {#if isLoading}
              <div style="text-align:center;">
                <Spinner
                  style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                  color="primary" />
                <h2 style="margin-top: 10px">Loading...</h2>
              </div>
            {/if}
  
            {#if isError}
              <div style="text-align:center;">
                <h4>{msgError}</h4>
              </div>
            {/if}
            <table
              bind:this={dataTable}
              id="datatable"
              class="table table-bordered dt-responsive nowrap" />
          </div>
        </div>
      </div>
      <!-- end row -->
      <DetailModal data={dataById} open={isOpen} toggle={() => openModal()} />
    </div>
    <!-- End Page-content -->
  
    <footer class="footer" style="position:relative">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6" />
          <div class="col-sm-6">
            <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- end main content-->
  