<script>
    import { params, leftover, goto } from "@sveltech/routify";
    import { store } from "../../store/auth";
    import bus from "../../api/master/bus";
    import trayek from "../../api/master/trayek";
    import { onMount } from "svelte";
    import qr from "qrious/dist/qrious";

    let token = $store.token.data;
    let dataBus;
    let listTrayek = [];
    let selectedData;
    let base64;

    $: [id, action = "view"] = $leftover.split("/");

    onMount(async () => {
        let resp = await bus.listBus(token);
        dataBus = resp.data.data;
        selectedData = dataBus.filter((item) => item.id == $params.id)[0];
        console.log(selectedData);
        var a = new qr({
            element: window.document.getElementById("qr"),
            value: `${selectedData.id}`,
            size: 378,
        });
        base64 = a.toDataURL("image/jpeg");
        setTimeout(() => {
            autoClick();
        }, 500);
    });

    function autoClick() {
        var a = window.document.getElementById("btn");
        a.click();
        window.location = "/bus";
    }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div
                    class="page-title-box d-flex align-items-center
              justify-content-between">
                    <h4 class="page-title mb-0 font-size-18">Bus</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item active">Manage Bus</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {#if selectedData}
                        <!-- content here -->
                        <a
                            id="btn"
                            style="display:none;"
                            download={`${selectedData.nopol_bus}.jpg`}
                            href={base64}>Download</a>
                    {/if}
                    <div style="text-align:center;"><canvas id="qr" /></div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end main content-->
