<script>
    export let open = false;
    export let toggle;
    export let titleContent;
    export let isEdit = false;
    export let onClose;
</script>

<style>
</style>

<div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              {#if isEdit == true}
              <h5 class="modal-title" id="exampleModalLongTitle">{'Edit '+ titleContent}</h5>
              {:else}
              <h5 class="modal-title" id="exampleModalLongTitle">{'Create '+ titleContent}</h5>
              {/if}
              <button on:click={onClose} type="button" class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <slot name="body">
                <div></div>
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="action">
                <div></div>
              </slot>
            </div>
          </div>
        </div>
    </div>
</div>
