<script>
    import { Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";
    import transaksi from "../api/master/transaksi";
    import { store } from "../store/auth";
    import Swal from "sweetalert2";

    export let open = false;

    export let toggle;

    export let data;

    function formatRupiah(num) {
        if (num !== undefined) {
            let NumberFormat = num
                .toString()
                .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            return "Rp." + NumberFormat;
        }
        return "Rp.0,00";
    }

    async function checkout() {
        const trans = await transaksi.createTransAgen($store.token.data, data);
        if (trans.data.error > 0) {
            console.log(trans.data.stack);
        } else {
            Swal.fire("Success Checkout Data", "", "success");
            window.location = "/transaksi";
        }
    }
</script>

<style>
</style>

<div>
    <Modal isOpen={open} {toggle}>
        <ModalHeader {toggle}>Detail Transaksi</ModalHeader>
        <ModalBody>
            <div class="form-data">
                <div class="form-group">
                    <p class="col-form-label">
                        Kode Transaksi :
                        {data.kd_transaksi}
                    </p>
                    <p class="col-form-label">Nama Penumpang : {data.nama}</p>

                    <p class="col-form-label">
                        Kode Kursi :
                        {data.id_kursi.kd_kursi}
                    </p>

                    <p class="col-form-label">
                        Nama Po Bis :
                        {data.id_pobus.nm_pobus}
                    </p>

                    <p class="col-form-label">
                        Status :
                        {#if data.status === 0}
                            <span
                                style="padding: 10px;"
                                class="badge badge-pill badge-secondary">Belum
                                Dibayar</span>
                        {:else if data.status === 1}
                            <span
                                style="padding: 10px;"
                                class="badge badge-pill badge-success">Lunas</span>
                        {:else if data.status === 2}
                            <span
                                style="padding: 10px;"
                                class="badge badge-pill badge-primary">Selesai</span>
                        {:else}
                            <!-- else content here -->
                        {/if}
                    </p>

                    <p class="col-form-label">
                        Jadwal :
                        {data.id_jamtrayek.jam_berangkat}
                        -
                        {data.id_jamtrayek.jam_sampai}
                    </p>

                    <p class="col-form-label">
                        Total Harga :
                        {formatRupiah(data.total_hrg)}
                    </p>
                </div>
            </div>
        </ModalBody>
    </Modal>
</div>
