<script>
    import { Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";
    import kursi from "../api/master/kursi";
    import { store } from "../store/auth";
    import Swal from "sweetalert2";
    import { goto } from "@sveltech/routify";

    export let open = false;

    export let toggle;

    export let data;

    async function updateKursi() {
        console.log(data);
        const trans = await kursi.updateKursi($store.token.data, data.id, {
            available: data.available,
        });
        if (trans.data.error > 0) {
            console.log(trans.data.stack);
            Swal.fire("Error Update Kursi", "", "success");
        } else {
            Swal.fire("Success Update Kursi", "", "success");
            window.location.reload();
        }
    }
</script>

<style>
</style>

<div>
    <Modal isOpen={open} {toggle}>
        <ModalHeader {toggle}>Edit Kursi</ModalHeader>
        <ModalBody>
            <div class="form-data">
                <div class="form-group">
                    <label
                        for="example-text-input"
                        class="col-form-label">Status :</label>
                    <select bind:value={data.available} class="form-control">
                        <option value={0}>Aktif</option>
                        <option value={2}>Nonaktif</option>
                    </select>
                    <button
                        style="margin-top: 10px;"
                        on:click={() => updateKursi()}
                        class="btn btn-success form-control">Update</button>
                </div>
            </div>
        </ModalBody>
    </Modal>
</div>
