<script>
  import { goto } from "@sveltech/routify";
  import { store, userData } from "../store/auth";

  let jq = window.$;
  async function logout() {
    store.set(null);
    $goto("/login");
  }

  function sidebarBtn() {
    event.preventDefault();
    jq("body").toggleClass("sidebar-enable");
    if (jq(window).width() >= 992) {
      jq("body").toggleClass("vertical-collpsed");
    } else {
      jq("body").removeClass("vertical-collpsed");
    }
  }
</script>

<header id="page-topbar">
  <div class="navbar-header">
    <div class="container-fluid">
      <div class="float-right">
        <div class="dropdown d-inline-block">
          <button
            type="button"
            class="btn header-item waves-effect"
            id="page-header-user-dropdown"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {#if $userData.tipe_user == 1}
              <img
                src="/assets/images/logo/eka.png"
                alt=""
                class="avatar-md mx-auto rounded-circle" />
            {:else if $userData.tipe_user == 2}
              <img
                src="/assets/images/logo/eka.png"
                alt=""
                class="avatar-md mx-auto rounded-circle" />
            {:else if $userData.tipe_user == 3}
              <img
                src="/assets/images/logo/eka-agen.png"
                alt=""
                class="avatar-md mx-auto rounded-circle" />
            {:else}
              <img
                src="/assets/images/users/avatar-2.jpg"
                alt=""
                class="avatar-md mx-auto rounded-circle" />
            {/if}
            <span class="d-none d-xl-inline-block ml-1">{$userData.name}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block" />
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <!-- item-->
            <a class="dropdown-item" href="#"><i
                class="bx bx-user font-size-16 align-middle mr-1" />{$userData.name}</a>
            <a on:click={logout} class="dropdown-item text-danger" href="#"><i
                class="bx bx-power-off font-size-16 align-middle mr-1
                  text-danger" />
              Logout</a>
          </div>
        </div>
      </div>
      <div>
        <!-- LOGO -->
        <div class="navbar-brand-box">
          <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
              <img
                src="/assets/images/logo/eka-invoice.png"
                alt=""
                height="20" />
            </span>
            <span class="logo-lg">
              <img
                src="/assets/images/logo/eka-invoice.png"
                alt=""
                height="19" />
            </span>
          </a>
        </div>

        <button
          on:click|preventDefault={sidebarBtn}
          type="button"
          class="btn btn-sm px-3 font-size-16 header-item toggle-btn
            waves-effect"
          id="vertical-menu-btn">
          <i class="fa fa-fw fa-bars" />
        </button>
      </div>
    </div>
  </div>
</header>
<!-- ========== Left Sidebar Start ========== -->
