<script>
    import { Modal, ModalBody, ModalFooter, ModalHeader } from "sveltestrap";
    import transaksi from "../api/master/transaksi";
    import { store } from "../store/auth";
    import Swal from "sweetalert2";
    import { goto } from "@sveltech/routify";

    export let open = false;

    export let toggle;

    export let data;

    async function checkout() {
        console.log(data);
        const trans = await transaksi.createTransAgen($store.token.data, data);
        if (data.nama == '' || data.nama == undefined) {
            alert('Isi Nama Terlebih Dahulu');
        }else if(data.no_telp == '' || data.no_telp == undefined){
            alert('Isi Nomor Telpon Terlebih Dahulu');
        }else{
            if (trans.data.error > 0) {
                console.log(trans.data.stack);
            } else {
                const lunas = await transaksi.updateLunas(
                    $store.token.data,
                    trans.data.data.id
                );
                console.log("lunas", lunas);
                Swal.fire("Success Checkout Data", "", "success");
                $goto("/invoice/:transaksi", {
                    transaksi: trans.data.data.kd_transaksi,
                });
            }
        }
    }
</script>

<style>
</style>

<div>
    <Modal isOpen={open} {toggle}>
        <ModalHeader {toggle}>Data Penumpang</ModalHeader>
        <ModalBody>
            <div class="form-data">
                <div class="form-group">
                    <label for="example-text-input" class="col-form-label">Nama
                        Penumpang :</label>
                    <input
                        bind:value={data.nama}
                        placeholder="Nama Lengkap"
                        class="form-control"
                        type="text" />
                    <label for="example-text-input" class="col-form-label">Kursi
                        :</label>
                    <input
                        disabled
                        placeholder="Kursi"
                        value={data.kursi ? data.kursi : ''}
                        class="form-control"
                        type="text" />
                    <label for="example-text-input" class="col-form-label">No
                        Telp :</label>
                    <input
                        bind:value={data.no_telp}
                        placeholder="No telp"
                        class="form-control"
                        type="text" />
                    <label
                        for="example-text-input"
                        class="col-form-label">Tanggal Berangkat :</label>
                    <input
                        bind:value={data.tanggal}
                        type="date"
                        name="tanggal"
                        min="1000-01-01"
                        max="3000-12-31"
                        class="form-control" />
                    <button
                        style="margin-top: 10px;"
                        on:click={() => checkout()}
                        class="btn btn-success form-control">Checkout</button>
                </div>
            </div>
        </ModalBody>
    </Modal>
</div>
