<script>
  import { isActive, url } from "@sveltech/routify";
  import MetisMenu from "metismenujs";
  import { onMount } from "svelte";
  import { userData } from "../store/auth";

  console.log($userData);

  const _links = [
    ["/dashboard", "Dashboard", "airplay"],
    // ["/pobus", "PO Bus", "bus-multiple"],
    ["/bus", "Bus", "bus"],
    ["/kursi", "Kursi", "seat-recline-normal"],
    ["/crew", "Crew", "account-details"],
    ["/agen", "Agen", "account-supervisor"],
    ["/trayek", "Trayek", "directions"],
    ["/jamtrayek", "Jam Trayek", "clock"],
    ["/kota", "Kota", "city"],
    ["/users", "Users", "account"],
    ["/transaksi", "Sales", "currency-usd"],
    ["/histori", "Histori Transaksi", "history"],
  ];

  const _linksPo = [
    ["/dashboard", "Dashboard", "airplay"],
    ["/bus", "Bus", "bus"],
    ["/kursi", "Kursi", "seat-recline-normal"],
    ["/crew", "Crew", "account-details"],
    ["/agen", "Agen", "account-supervisor"],
    ["/trayek", "Trayek", "directions"],
    ["/jamtrayek", "Jam Trayek", "clock"],
    ["/tarif", "Tarif", "cash-marker"],
    ["/historipoagen", "Histori Transaksi Agen", "account-clock"],
    ["/historipocrew", "Histori Transaksi Crew", "account-clock-outline"],
    ["/reportbri", "Report Transaksi BRI", "cash"],
    ["/kota", "Kota", "city"],
    ["/users", "Users", "account"],
  ];

  const _linksAgen = [
    ["/dashboard", "Dashboard", "airplay"],
    ["/transaksi", "Sales", "currency-usd"],
    ["/histori", "Histori Transaksi", "history"],
  ];

  const _linksCustomerServ = [
    ["/#", "Booking", "calendar-clock"],
    ["/tarif", "Tarif", "cash-marker"],
    ["/crew", "Crew", "account-details"],
    ["/agen", "Agen", "account-supervisor"],
    ["/histori", "Histori Transaksi", "history"],
  ]

  let sideMenu;

  onMount(() => {
    console.log("the component has mounted");
    MetisMenu.attach(sideMenu);
  });
</script>

<div class="vertical-menu">
  <div class="h-100">
    <div class="user-wid text-center py-4">
      <div class="user-img">
        {#if $userData.tipe_user == 1}
          <img
            src="/assets/images/logo/eka.png"
            alt=""
            class="avatar-md mx-auto rounded-circle" />
        {:else if $userData.tipe_user == 2}
          <img
            src="/assets/images/logo/eka.png"
            alt=""
            class="avatar-md mx-auto rounded-circle" />
        {:else if $userData.tipe_user == 3}
          <img
            src="/assets/images/logo/eka-agen.png"
            alt=""
            class="avatar-md mx-auto rounded-circle" />
        {:else}
          <img
            src="/assets/images/users/avatar-2.jpg"
            alt=""
            class="avatar-md mx-auto rounded-circle" />
        {/if}
      </div>

      <div class="mt-3">
        <a
          href="#"
          class="text-dark font-weight-medium font-size-16">{$userData.name}</a>
        {#if $userData.tipe_user == 1}
          <p class="text-body mt-1 mb-0 font-size-13">Master</p>
        {:else if $userData.tipe_user == 2}
          <p class="text-body mt-1 mb-0 font-size-13">Super Admin</p>
        {:else if $userData.tipe_user == 3}
          <p class="text-body mt-1 mb-0 font-size-13">Agen</p>
        {:else if $userData.tipe_user == 4}
          <p class="text-body mt-1 mb-0 font-size-13">Crew</p>
        {:else if $userData.tipe_user == 5}
          <p class="text-body mt-1 mb-0 font-size-13">Admin</p>
        {:else if $userData.tipe_user == 6}
            <p class="text-body mt-1 mb-0 font-size-13">Customer Service</p>
        {:else if $userData.tipe_user == 7}
            <p class="text-body mt-1 mb-0 font-size-13">Admin</p>
        {:else if $userData.tipe_user == 8}
            <p class="text-body mt-1 mb-0 font-size-13">Driver</p>
        {:else if $userData.tipe_user == 9}
            <p class="text-body mt-1 mb-0 font-size-13">Kondektur</p>
        {/if}
      </div>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul bind:this={sideMenu} class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        {#if $userData.tipe_user == 1}
          {#each _links as [path, name, icon]}
            <li>
              <a
                href={$url(path)}
                class="waves-effect"
                class:mm-active={$isActive(path)}>
                <i class="mdi mdi-{icon}" />
                <span>{name}</span>
              </a>
            </li>
          {/each}
        {:else if $userData.tipe_user == 2}
          {#each _linksPo as [path, name, icon]}
            <li>
              <a
                href={$url(path)}
                class="waves-effect"
                class:mm-active={$isActive(path)}>
                <i class="mdi mdi-{icon}" />
                <span>{name}</span>
              </a>
            </li>
          {/each}
        {:else if $userData.tipe_user == 3}
          {#each _linksAgen as [path, name, icon]}
            <li>
              <a
                href={$url(path)}
                class="waves-effect"
                class:mm-active={$isActive(path)}>
                <i class="mdi mdi-{icon}" />
                <span>{name}</span>
              </a>
            </li>
          {/each}
        {:else if $userData.tipe_user == 6}
          {#each _linksCustomerServ as [path, name, icon]}
            <li>
              <a
                href={$url(path)}
                class="waves-effect"
                class:mm-active={$isActive(path)}>
                <i class="mdi mdi-{icon}" />
                <span>{name}</span>
              </a>
            </li>
          {/each}
        {/if}
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
