<script>
  import { Router } from "@sveltech/routify";
  import { routes } from "@sveltech/routify/tmp/routes";

  import Waves from "../public/assets/libs/node-waves/waves.min.js";

  Waves.init();
</script>

<style>
</style>

<Router {routes} />
