<svelte:head>
  <style>
    .select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b{
      top: 0%;
    }
  </style>
</svelte:head>

<script>
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import trayek from "../../api/master/trayek";
  import { store,userData } from "../../store/auth";
  import Swal from 'sweetalert2';
  import kota from "../../api/master/kota";
  import CreateEditModal from "../../component/CreateEditModal.svelte";

  const jq = window.$;
  let dataTable;
  let table;
  let token = $store.token.data;
  let isLoading = true;
  let isError = false;
  let msgError = "";
  let isOpenModal = false;
  let isEdit = false;
  let data = {};
  let listKota = [];
  let listTrayek= [];
  let selectedKota = [];
  let id_kota_singgah = [];

  async function addData() {
    let kota_singgah = jq(".custom-select-kota").select2("val");
    let asal = jq(".custom-select-asal").select2("val");
    let tujuan = jq(".custom-select-tujuan").select2("val");
    data = {
      ...data,
      id_pobus: $userData.pobus[0].id,
      id_kota_asal: asal,
      id_kota_tujuan: tujuan,
      kota: kota_singgah,
      harga: 0,
    }
    let resp = await trayek.createTrayek(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Tambah Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Tambah Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  async function editData() {
    let kota_singgah = jq(".custom-select-kota").select2("val");
    let asal = jq(".custom-select-asal").select2("val");
    let tujuan = jq(".custom-select-tujuan").select2("val");
    data.id_pobus = $userData.pobus[0].id;
    data.id_kota_asal = asal;
    data.id_kota_tujuan = tujuan;
    data.kota = kota_singgah;
    data.id_kota_singgah = id_kota_singgah;
    data.harga= '0';
    console.log({data});
    console.log({kota_singgah});
    let resp = await trayek.updateTrayek(token, data.id , data);
    if (resp.data.error > 0) {
      Swal.fire("Error Edit Data", "Silahkan Cek Form Anda !", "error");
    } else {
      Swal.fire("Success Edit Data", "Mohon Tunggu !", "success");
      window.location.reload();
    }
  }

  function openModalCreate() {
    isEdit = false;
    data = {};      
    jq(".custom-select-kota").val(null).trigger('change');
    jq('#exampleModalCenter').modal('show');
  }

  function openModalEdit() {
    isEdit = true;
    jq('#exampleModalCenter').modal('show');
  }

  function onClose() {
    jq('#exampleModalCenter').on('hidden.bs.modal', function (e) {
      selectedKota = [];
      id_kota_singgah = [];
      jq(".custom-select-kota").val(null).trigger('change');
    })
    jq('#exampleModalCenter').modal('hide');
  }

  onMount(async () => {
    jq(".custom-select-kota").select2({
      dropdownParent: jq('#exampleModalCenter')
    });
    jq(".custom-select-kota").on("select2:select", function (evt) {
        var element = evt.params.data.element;
        console.log(element);
        var el = jq(element);
        el.detach();
        jq(this).append(el);
        jq(this).trigger("change");
    });
    jq(".custom-select-asal").select2({
        theme: 'bootstrap4',
        dropdownParent: jq('#exampleModalCenter')
    });
    jq(".custom-select-tujuan").select2({
        theme: 'bootstrap4',
        dropdownParent: jq('#exampleModalCenter')
    });

    let respKota = await kota.listKota(token);
    if (respKota.error > 0) {
      alert(resp.message);
    } else {
      listKota = respKota.data.data;
    }
    let resp = await trayek.listTrayek(token);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      isLoading = false;
      jq.fn.dataTable.ext.errMode = 'throw';
      listTrayek = resp.data.data;
      table = jq(dataTable).DataTable({
        data: resp.data.data,
        responsive: {
          details: {
            renderer: function (api,rowIdx,columns) {
              var data = columns.map(( col, i ) => {
                    return col.hidden ?
                        '<tr data-dt-row="'+col.rowIndex+'" data-dt-column="'+col.columnIndex+'">'+
                            '<td>'+col.title+':'+'</td> '+
                            '<td>'+col.data+'</td>'+
                        '</tr>' :
                        '';
                } ).join('');
 
                return data ?
                    jq('<table/>').append( data ) :
                    false;
            }
          }
        },
        columns: [
          { data: null, title: "No." },
          { 
            data: 'nama' , 
            title: "Nama",
          },
          { data: "id_kota_asal.nm_kota", title: "Kota Asal" },
          { data: "id_kota_tujuan.nm_kota", title: "Kota Tujuan" },
          { 
            data: 'kota_singgah', 
            title: "Kota Singgah",
            render: function(data,type,row) {
              let kota_singgah = ``;
              for (let i = 0; i < data.length; i++) {
                const element = data[i];
                kota_singgah += `<div style="margin:5px" class="btn btn-primary">${element.id_kota.nm_kota}<i onclick="hapusKota(${element.id})" style="margin-left:10px" class="fa fa-times close-btn-icon"></i></div>`;
              }
              return kota_singgah;
            }
          },
          {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
            }
          },
        ],
      });

      table
        .on("order.dt search.dt", function () {
          table
            .column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        })
        .draw();
    }

    window.hapusKota = (id) => {
      Swal.fire({
        title: "Hapus Kota ini ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await trayek.deleteKotaSinggah(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    }

    window.editData = (id) => {
      let indexData = listTrayek.findIndex(obj => obj.id == id);
      let dataById = listTrayek[indexData];
      
      data = {
        ...dataById,
        id_kota_asal: dataById.id_kota_asal.id,
        id_kota_tujuan: dataById.id_kota_tujuan.id,
      };

      for (let i = 0; i < dataById.kota_singgah.length; i++) {
        const element = dataById.kota_singgah[i];
        id_kota_singgah.push(element.id);
        selectedKota.push({id:element.id_kota.id,text: element.id_kota.nm_kota}); 
      }

      for (let i = 0; i < selectedKota.length; i++) {
        var newOption = new Option(selectedKota[i].text, selectedKota[i].id, true, true);
        jq(".custom-select-kota").append(newOption).trigger('change');
      }
      
      jq(".custom-select-kota").on("select2:select", function (evt) {
        var element = evt.params.data.element;
        var el = jq(element);
        el.detach();
        jq(this).append(el);
        jq(this).trigger("change");
      });

      var optAsal = new Option(dataById.id_kota_asal.nm_kota, dataById.id_kota_asal.id, true, true);
      jq(".custom-select-asal").append(optAsal).trigger('change');

      var optTujuan = new Option(dataById.id_kota_tujuan.nm_kota, dataById.id_kota_tujuan.id, true, true);
      jq(".custom-select-tujuan").append(optTujuan).trigger('change');

      openModalEdit();
    };

    window.deleteData = (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          let resp = await trayek.deleteTrayek(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });

</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Trayek</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Trayek</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button on:click={openModalCreate} class="btn btn-primary">Tambah Data
                <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
          {/if}

          {#if isError}
            <div style="text-align:center;">
              <h4>{msgError}</h4>
            </div>
          {/if}

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />

        </div>
      </div>
    </div>
    <CreateEditModal
      titleContent="Trayek"
      isEdit={isEdit}
      onClose={onClose}
      open={isOpenModal}>
        <div slot="body" class="form-group">
          <div class="form-group">
            <label class="col-form-label">Nama</label>
            <input
              bind:value={data.nama}
              class="form-control"
              type="text"
              id="example-text-input" />
          </div>
          <div class="form-group">
            <label class="col-form-label">Kota Asal</label>
            <select bind:value={data.id_kota_asal} class="form-control select2 custom-select-asal">
              <option value="">Silahkan Pilih Kota</option>
              {#each listKota as item}
                <option value={item.id}>{item.nm_kota}</option>
              {/each}
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Kota Tujuan</label>
            <select bind:value={data.id_kota_tujuan} class="form-control select2 custom-select-tujuan">
              <option value="" selected="selected" hidden="hidden">Silahkan Pilih Kota</option>
              {#each listKota as item}
              <option value={item.id}>{item.nm_kota}</option>
              {/each}
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Keterangan</label>
            <select bind:value={data.keterangan} class="form-control">
              <option value="" selected="selected" hidden="hidden">Pilih Keterangan</option>
              <option value="Timur-Barat">Timur-Barat</option>
              <option value="Barat-Timur">Barat-Timur</option>
            </select>
          </div>
          <div class="form-group">
            <label class="col-form-label">Kota Singgah</label>
            <select
                multiple="multiple"
                bind:value={data.kota_singgah}
                name="Kota Tujuan"
                class="form-control custom-select-kota">
                {#each listKota as item}
                    <option value={item.id}>
                        {item.nm_kota}
                    </option>
                {/each}
            </select>
          </div>
        </div>
        <div slot="action">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {#if isEdit}
            <button on:click={editData} type="button" class="btn btn-primary">Simpan</button>
          {:else}
            <button on:click={addData} type="button" class="btn btn-primary">Simpan</button>
          {/if}
        </div>
    </CreateEditModal>
    <!-- end row -->
  </div>
  <!-- End Page-content -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
