<script>
  import { goto } from "@sveltech/routify";
  import { store, userData } from "../../store/auth";
  import user from "../../api/master/user";

  let token = $store.token.data;

  let data = {};

  async function addData() {
    data.pin = "2431!";
    data.id_pobus = $userData.pobus[0].id;
    let resp = await user.createUser(token, data);
    if (resp.data.error > 0) {
      alert(resp.data.message);
      console.log(resp);
    } else {
      $goto("/users");
    }
  }

  function cancel() {
    $goto("/users");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">User</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage User</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create User</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Nama User</label>
                <input
                  bind:value={data.nm_user}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Email
                  User</label>
                <input
                  bind:value={data.email_user}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Password
                  User</label>
                <input
                  bind:value={data.pass_user}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Alamat
                  User</label>
                <input
                  bind:value={data.addr_user}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">No Telp</label>
                <input
                  bind:value={data.telp_user}
                  class="form-control"
                  type="text"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Wewenang User</label>
                <select class="form-control" bind:value={data.type_user}>
                  <option value={2}>Super Admin</option>
                  <option value={5}>Admin</option>
                  <option value={6}>Customer Service</option>
                  <option value={7}>Agen Center</option>
                  <option value={3}>Agen</option>
                  <option value={4}>Crew</option>
                  <option value={8}>Driver</option>
                  <option value={9}>Kondektur</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
