<script>
  import { Spinner } from "sveltestrap";
  import { goto } from "@sveltech/routify";
  import { onMount } from "svelte";
  import user from "../../api/master/user";
  import { store } from "../../store/auth";
  import Swal from "sweetalert2";

  const jq = window.$;
  let dataTable;
  let rows;
  let table;
  let token = $store.token.data;
  let isLoading = true;
  let isError = false;
  let msgError = "";

  onMount(async () => {
    let resp = await user.listEmployee(token);
    if (resp.data.error > 0) {
      isLoading = false;
      isError = true;
      msgError = resp.data.message;
    } else {
      isLoading = false;
      table = jq(dataTable).DataTable({
        data: resp.data.data,
        responsive: true,
        columns: [
          { data: null, title: "No." },
          { data: "id_user.nm_user", title: "Nama" },
          { data: "id_user.addr_user", title: "Alamat" },
          { data: "id_user.telp_user", title: "No Telp" },
          { data: "id_user.email_user", title: "Email" },
          { 
            data: null, 
            title: "Wewenang",
            render: function (data, type, row) {
              var {id_user} = row;
              if (id_user.type_user == 1) {
                  return 'Master'
              }else if (id_user.type_user == 2) {
                  return 'Super Admin'
              }else if (id_user.type_user == 3) {
                  return 'Agen'
              }else if (id_user.type_user == 4) {
                  return 'Crew'
              }else if (id_user.type_user == 5) {
                  return 'Admin'
              }else if (id_user.type_user == 6) {
                  return 'Customer Service'
              }else if (id_user.type_user == 7) {
                  return 'Agen Center'
              }else if (id_user.type_user == 8) {
                  return 'Driver'
              }else{
                  return 'Kondektur'
              }
            }, 
          },
          {
            data: null,
            title: "Action",
            render: function (data, type, row) {
              return `
              <button class="btn btn-warning btn-edit mr-1" onclick="editData(${row.id})" type="button">Edit <i class="mdi mdi-pencil"></i></button>
              <button class="btn btn-danger" onclick="deleteData(${row.id_user.id})" type="button">Delete <i class="mdi mdi-delete"></i></button>,
              `;
            }
          },
        ],
      });
      table
        .on("order.dt search.dt", function () {
          table
            .column(0, { search: "applied", order: "applied" })
            .nodes()
            .each(function (cell, i) {
              cell.innerHTML = i + 1;
            });
        })
        .draw();
    }
    window.editData = (id) => {
      $goto("/users/update/:id", { id: id });
    };

    window.deleteData = async (id) => {
      Swal.fire({
        title: "Delete Data ?",
        showDenyButton: true,
        confirmButtonText: `Confirm`,
        denyButtonText: `Cancel`,
        icon: "warning",
      }).then(async (result) => {
        /* Read more about isConfirmed, isDenied below */
        if (result.isConfirmed) {
          console.log(id);
          let resp = await user.deleteUser(token, id);
          if (resp.data.error > 0) {
            Swal.fire("Error Delete Data", "", "error");
          } else {
            Swal.fire("Success Delete Data", "", "success");
            window.location.reload();
          }
        } else if (result.isDenied) {
          // Swal.fire("Changes are not saved", "", "info");
        }
      });
    };
  });

  function addData(event) {
    event.preventDefault();
    $goto("/users/create");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Users</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Users</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="p-2">
              <button class="btn btn-primary" on:click={addData}>Tambah Data
                <i class="mdi
                    mdi-plus" /></button>
            </div>
          </div>

          {#if isLoading}
            <div style="text-align:center;">
              <Spinner
                style="width:6rem;height:6rem;border: 0.65em solid currentColor;border-right-color: transparent"
                color="primary" />
              <h2 style="margin-top: 10px">Loading...</h2>
            </div>
          {/if}

          {#if isError}
            <p>{msgError}</p>
          {/if}

          <table
            bind:this={dataTable}
            id="datatable"
            class="table table-bordered dt-responsive nowrap" />
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
<!-- end main content-->
