<script>
  import { goto } from "@sveltech/routify";
  import { store } from "../../store/auth";
  import jt from "../../api/master/jamTrayek";
  import bus from "../../api/master/bus";
  import trayek from "../../api/master/trayek";
  import { onMount } from "svelte";
  import Swal from "sweetalert2";

  let token = $store.token.data;

  let data = {};
  let listTrayek = [];
  let listBus = [];

  onMount(async () => {
    let resp = await trayek.listTrayek(token);
    console.log({ trayek: resp });
    if (resp.data.error > 0) {
      alert(resp.data.message);
    } else {
      listTrayek = resp.data.data;
    }
    let resp2 = await bus.listBus(token);
    console.log({ bus: resp2 });
    if (resp2.data.error > 0) {
      alert(resp.data.message);
    } else {
      listBus = resp2.data.data;
    }
  });

  async function addData() {
    console.log(data);
    let resp = await jt.createJamTrayek(token, data);
    if (resp.data.error > 0) {
      Swal.fire("Error Create Data", "", "error");
    } else {
      $goto("/jamtrayek");
    }
  }

  function cancel() {
    $goto("/jamtrayek");
  }
</script>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-flex align-items-center
            justify-content-between">
          <h4 class="page-title mb-0 font-size-18">Jam Trayek</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item active">Manage Jam Trayek</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Data Jam Trayek</h4>
          <div class="row">
            <div class="col-md-6">
              <button on:click={addData} class="btn btn-success">Save Data
                <i class="mdi
                    mdi-check" /></button>
              <button on:click={cancel} class="btn btn-danger mx-1">Cancel
                <i class="mdi
                    mdi-cancel" /></button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label class="col-form-label">Bus</label>
                <select bind:value={data.id_bus} class="form-control">
                  <option value="">Silahkan Pilih Bus</option>
                  {#each listBus as item}
                    <option value={item.id}>{item.nopol_bus}</option>
                  {/each}
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">Trayek</label>
                <select bind:value={data.id_trayek} class="form-control">
                  <option value="">Silahkan Pilih Trayek</option>
                  {#each listTrayek as item}
                    <option value={item.id}>
                      {item.id_kota_asal.nm_kota}
                      -
                      {item.id_kota_tujuan.nm_kota}
                    </option>
                  {/each}
                </select>
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Jam
                  Berangkat</label>
                <input
                  bind:value={data.jam_berangkat}
                  class="form-control"
                  type="time"
                  id="example-text-input" />
              </div>
              <div class="form-group">
                <label for="example-text-input" class="col-form-label">Jam
                  Sampai</label>
                <input
                  bind:value={data.jam_sampai}
                  class="form-control"
                  type="time"
                  id="example-text-input" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6" />
        <div class="col-sm-6">
          <div class="text-sm-right d-none d-sm-block">Created by B 36</div>
        </div>
      </div>
    </div>
  </footer>
</div>
<!-- end main content-->
